Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

mojo-format:
  name: Mojo Format
  description: Format Mojo source files using mojo format (skips if mojo not available)
  entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
  language: system
  pass_filenames: true

check-list-constructor:
  name: Check for deprecated List[Type](args) syntax
  description: Prevent use of invalid List variadic constructor (use list literals instead)
  entry: List\[.*\]\([0-9]
  language: pygrep

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

validate-test-coverage:
  name: Validate Test Coverage
  description: Ensure all test_*.mojo files are covered by CI matrix
  entry: python3 scripts/validate_test_coverage.py
  language: system
  pass_filenames: false

fix(config): disable buggy mojo-format hook and document .env
  .env
  .pre-commit-config.yaml
Due: none

fix(tests): fix Variable constructor calls and gradient registry usage
  tests/shared/autograd/test_optimizer_base.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(training): use Optional for early_stopping parameter
  shared/training/trainer.mojo
Due: mojo-format, check-list-constructor

fix(visualization): implement clear_figure and show_figure stubs
  shared/utils/visualization.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve MLP training example compilation issues (#2706)
  examples/getting-started/mlp_training_example.mojo
Due: mojo-format, check-list-constructor

fix(autograd): prevent gradient accumulation in clip_gradients_by_global_norm
  shared/autograd/optimizer_base.mojo
Due: mojo-format, check-list-constructor

refactor(scripts): security fixes and code cleanup for automation scripts
  scripts/fix-build-errors.py
  scripts/implement_issues.py
  tests/scripts/__init__.py
  tests/scripts/test_security.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(scripts): fix 11 critical bugs in automation scripts
  scripts/fix-build-errors.py
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

test(scripts): add integration test scripts for both automation tools
  tests/scripts/integration_fix_build.sh
  tests/scripts/integration_implement.sh
Due: none

docs(scripts): add comprehensive CHANGELOG documenting all improvements
  scripts/CHANGELOG.md
Due: none

feat(scripts): add health check, rollback, and graph export to implement_issues.py
  scripts/implement_issues.py
  tests/scripts/test_retry_logic.py
  tests/scripts/test_security.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(scripts): add error handling, health checks, and metrics to automation scripts
  scripts/fix-build-errors.py
  scripts/implement_issues.py
  scripts/utils/__init__.py
  scripts/utils/retry.py
  tests/scripts/test_retry_logic.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

test(scripts): add comprehensive unit tests for automation scripts
  tests/scripts/test_fix_build_errors.py
  tests/scripts/test_implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(benchmarks): update TestConfig constructor to use out self parameter
  benchmarks/simple_test.mojo
Due: mojo-format, check-list-constructor

fix(autograd): convert relative imports to absolute imports and add main()
  shared/autograd/__init__.mojo
Due: mojo-format, check-list-constructor

fix(data): resolve build errors in shared/data/formats/__init__.mojo
  shared/data/formats/__init__.mojo
Due: mojo-format, check-list-constructor

fix(data): replace relative import with absolute import in transforms.mojo
  shared/data/transforms.mojo
Due: mojo-format, check-list-constructor

fix(core): resolve relative import errors in arithmetic.mojo
  shared/core/arithmetic.mojo
Due: mojo-format, check-list-constructor

fix(config): re-enable mojo-format hook for v0.26.1
  .pre-commit-config.yaml
Due: none

fix(examples): resolve MLP training example compilation errors
  examples/getting-started/mlp_training_example.mojo
Due: mojo-format, check-list-constructor

fix(examples): update attention_layer.mojo to use correct shared.core imports
  examples/custom-layers/attention_layer.mojo
Due: mojo-format, check-list-constructor

fix(examples): add missing periods to docstring parameter descriptions
  examples/performance/benchmark_operations.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve compilation errors in lenet-emnist run_infer
  examples/lenet-emnist/run_infer.mojo
Due: mojo-format, check-list-constructor

fix(mobilenetv1): resolve docstring validation and List[DepthwiseSeparableBlock] errors
  examples/mobilenetv1-cifar10/model.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve docstring validation errors in lenet-emnist model
  examples/lenet-emnist/model.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve ResNet-18 CIFAR-10 inference compilation errors
  examples/resnet18-cifar10/inference.mojo
  examples/resnet18-cifar10/model.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve compilation errors in ResNet-18 model
  examples/resnet18-cifar10/model.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve compilation errors in vgg16-cifar10 inference
  examples/vgg16-cifar10/inference.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve build errors in lenet-emnist train.mojo
  examples/lenet-emnist/train.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve AlexNet CIFAR-10 inference compilation errors
  examples/alexnet-cifar10/inference.mojo
Due: mojo-format, check-list-constructor

fix(vgg16): resolve compilation errors in CIFAR-10 training script
  examples/vgg16-cifar10/train.mojo
Due: mojo-format, check-list-constructor

fix(mobilenetv1-inference): resolve compilation errors and Mojo v0.26.1 syntax issues
  examples/mobilenetv1-cifar10/inference.mojo
Due: mojo-format, check-list-constructor

Path conditions:
  mojo-format: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
  check-list-constructor: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  validate-test-coverage: any of: (test_.*\.mojo|comprehensive-tests\.yml)$
