Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting - requires Mojo v0.26.1+
  # See: https://docs.modular.com/mojo/manual/
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format
        entry: pixi run mojo format
        language: system
        files: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|ðŸ”¥)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|ðŸ”¥)$
        types: [text]

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # Jupyter notebook output stripping
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: Strip Notebook Outputs
        description: Remove outputs from Jupyter notebooks before commit
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

feat(tooling): add code generation tools for boilerplate Mojo code
  .templates/dataset_template.mojo
  .templates/layer_template.mojo
  .templates/model_template.mojo
  .templates/tests_template.mojo
  .templates/training_template.mojo
  scripts/generators/__init__.py
  scripts/generators/generate_dataset.py
  scripts/generators/generate_layer.py
  scripts/generators/generate_model.py
  scripts/generators/generate_tests.py
  scripts/generators/generate_training_script.py
  scripts/generators/mojo_gen.py
  scripts/generators/templates.py
  scripts/mojo-gen
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(export): implement Mojo-native ONNX exporter
  shared/export/__init__.mojo
  shared/export/exporter.mojo
  shared/export/onnx_proto.mojo
  shared/export/protobuf.mojo
Due: mojo-format, check-list-constructor

test(core): add error handling validation tests
  shared/core/__init__.mojo
  tests/shared/core/test_arithmetic.mojo
  tests/shared/core/test_shape.mojo
  tests/shared/core/test_utility.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(scripts): remove unused get_repo_root import from agent_stats.py
  scripts/agents/agent_stats.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(config): add explicit_package_bases to mypy config
  pyproject.toml
Due: none

feat(testing): add property-based testing framework
  shared/testing/__init__.mojo
  shared/testing/property_testing.mojo
Due: mojo-format, check-list-constructor

refactor(scripts): migrate 12 scripts to use get_repo_root()
  scripts/agents/agent_stats.py
  scripts/agents/tests/conftest.py
  scripts/analyze_issues.py
  scripts/check_coverage.py
  scripts/create_issues.py
  scripts/download_emnist.py
  scripts/generate_test_metrics.py
  scripts/implement_issues.py
  scripts/plan_issues.py
  scripts/update_agents_claude4.py
  scripts/validate_readme_commands.py
  scripts/validate_test_coverage.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(testing): remove main function from property_testing.mojo
  shared/testing/property_testing.mojo
Due: mojo-format, check-list-constructor

fix(docs): convert invalid cross-directory links to plain text references
  docs/dev/release-process.md
Due: none

docs(migration): add PyTorch to ML Odyssey migration guide
  docs/migration/pytorch-to-ml-odyssey.md
Due: none

fix(docs): remove broken link to non-existent math.md
  docs/api/operations/arithmetic.md
Due: none

chore: remove outdated VALIDATION_REPORT.md
  examples/getting-started/VALIDATION_REPORT.md
Due: none

feat: add advise/retrospection plugin
  .claude/settings.json
Due: none

feat(skill): add verify-issue-before-work retrospective skill
  .claude-plugin/plugin.json
  .claude-plugin/skills/verify-issue-before-work/SKILL.md
  .claude-plugin/skills/verify-issue-before-work/references/notes.md
Due: none

docs(blog): add Day Forty-One - Export and Visualization (AI-generated)
  notes/blog/12-29-2025.md
Due: none

docs(blog): add Day Twenty-Five - Dependency Untangling (AI-generated)
  notes/blog/12-9-2025.md
Due: none

docs(blog): add Day Thirty-Four - Example Cleanup (AI-generated)
  notes/blog/12-22-2025.md
Due: none

docs(blog): add Day Thirty-Six - Memory Management (AI-generated)
  notes/blog/12-24-2025.md
Due: none

docs(blog): add Day Twenty - Checkpoints and Data Loading (AI-generated)
  notes/blog/12-1-2025.md
Due: none

docs(blog): add Day Eighteen - The Cleanup Sprint (AI-generated)
  notes/blog/11-27-2025.md
Due: none

docs(blog): add Day Nineteen - Developer Experience (AI-generated)
  notes/blog/11-29-2025.md
Due: none

docs(blog): add Day Forty - Notebooks and Testing (AI-generated)
  notes/blog/12-28-2025.md
Due: none

docs(blog): add Day Twenty-Eight - Micro-Optimizations (AI-generated)
  notes/blog/12-12-2025.md
Due: none

docs(blog): add Day Fifteen - Low-Precision Frontiers (AI-generated)
  notes/blog/11-22-2025.md
Due: none

docs(blog): add Day Twenty-Four - CI Green Again (AI-generated)
  notes/blog/12-8-2025.md
Due: none

docs(blog): add Day Thirteen - The Dispatch Pattern (AI-generated)
  notes/blog/11-19-2025.md
Due: none

docs(blog): add Day Thirty-Nine - Infrastructure and Quality (AI-generated)
  notes/blog/12-27-2025.md
Due: none

docs(blog): add Day Thirty-One - Tensor Slicing (AI-generated)
  notes/blog/12-17-2025.md
Due: none

docs(blog): add Day Thirty-Five - Fast Paths (AI-generated)
  notes/blog/12-23-2025.md
Due: none

docs(blog): add Day Twenty-One - Optimizer Suite (AI-generated)
  notes/blog/12-2-2025.md
Due: none

docs(blog): add Day Thirty-Three - Build System Polish (AI-generated)
  notes/blog/12-20-2025.md
Due: none

docs(blog): add Day Twenty-Three - Mojo 0.26 Migration (AI-generated)
  notes/blog/12-7-2025.md
Due: none

docs: add ADR-009 and heap corruption investigation artifacts
  docs/adr/ADR-009-heap-corruption-workaround.md
  scripts/validate_test_file_sizes.py
  tests/models/test_heap_corruption_combined.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

scripts: add git bisect scripts to find heap corruption fix
  scripts/bisect_heap_test.py
  scripts/run_bisect_heap.sh
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(scripts): update bisect scripts to work across git checkouts
  scripts/bisect_heap_test.py
  scripts/run_bisect_heap.sh
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(ci): fix pre-commit and markdown lint errors
  .claude-plugin/skills/fix-implicitlycopyable-removal/SKILL.md
  .claude-plugin/skills/fix-implicitlycopyable-removal/references/notes.md
  .claude-plugin/skills/verify-issue-before-work/SKILL.md
  .claude-plugin/skills/verify-issue-before-work/references/notes.md
  scripts/validate_test_coverage.py
  scripts/validate_test_file_sizes.py
  tests/models/test_heap_corruption_combined.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage
