Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting (BUGGY)
  #
  # BUGGY REASON: The mojo format tool incorrectly removes spaces in method signatures,
  # specifically converting "fn method(mut self" to "fn method(mutself" which breaks the code.
  # This causes all Mojo files formatted by this hook to become syntactically invalid.
  #
  # TRACKING ISSUE: https://github.com/modular/modular/issues/5573
  # Bug description: mojo format removes the space after 'mut' keyword in parameter lists, and other issues
  #
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format (skips if mojo not available)
        entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
        language: system
        files: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
        types: [text]

  # Security checks and Python formatting/linting
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

fix(scripts): resolve deadlock and multiple bugs in implement_issues.py
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(scripts): Phase 1 critical threading fixes for implement_issues.py
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(scripts): add Claude API usage limit detection
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(core): Implement lazy evaluation system for tensor expressions (#2628)
  shared/core/__init__.mojo
  shared/core/lazy_eval.mojo
  shared/core/lazy_expression.mojo
  tests/shared/core/test_lazy_expression.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(scripts): clean up stale in_progress issues on resume
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(core): Fix Mojo syntax and ownership semantics in lazy expression operators
  shared/core/lazy_expression.mojo
Due: mojo-format, check-list-constructor

fix(scripts): comprehensive slot management and UI fix
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(#2628): Implement lazy expression evaluation system
  shared/core/__init__.mojo
Due: mojo-format, check-list-constructor

fix(ci): add test_lazy_expression.mojo to Core Utilities test group
  .github/workflows/comprehensive-tests.yml
Due: validate-test-coverage

fix(tests): add absolute tolerance for small gradients (#2704)
  shared/testing/gradient_checker.mojo
  shared/testing/layer_testers.mojo
Due: mojo-format, check-list-constructor

fix(tests): correct tolerance check logic
  shared/testing/gradient_checker.mojo
Due: mojo-format, check-list-constructor

fix(testing): apply mojo format to layer_testers.mojo
  shared/testing/layer_testers.mojo
Due: mojo-format, check-list-constructor

feat(#2628): Enable lazy evaluation exports in public API
  shared/core/__init__.mojo
Due: mojo-format, check-list-constructor

fix(docs): correct Mojo Guidelines link in glossary
  docs/glossary.md
Due: none

fix(tests): widen FC backward tolerance from 1.5% to 10% (#2704)
  shared/testing/layer_testers.mojo
Due: mojo-format, check-list-constructor

fix(tests): correct epsilon for Float32 gradient checking (#2704)
  shared/testing/layer_testers.mojo
  tests/models/test_alexnet_layers.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(activation): use math_exp() and select() functions instead of methods
  shared/core/activation_simd.mojo
Due: mojo-format, check-list-constructor

feat(core): Implement memory pool for small tensor allocations #2626
  shared/core/__init__.mojo
  shared/core/extensor.mojo
  shared/core/memory_pool.mojo
  tests/shared/benchmarks/bench_memory_pool.mojo
  tests/shared/core/test_memory_pool.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(benchmarks): replace clock_now with perf_counter_ns
  .github/workflows/comprehensive-tests.yml
  tests/shared/benchmarks/bench_memory_pool.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(core): use SIMD.gt() instead of > operator for vectorized conditionals
  shared/core/activation_simd.mojo
Due: mojo-format, check-list-constructor

feat(activation): Add SELU scalar and vectorized implementations
  shared/core/__init__.mojo
  shared/core/activation.mojo
  shared/core/activation_simd.mojo
Due: mojo-format, check-list-constructor

fix(activation): add missing select import from algorithm module
  shared/core/activation_simd.mojo
Due: mojo-format, check-list-constructor

docs(blog): add Day Thirty-Nine - Infrastructure and Quality (AI-generated)
  notes/blog/12-27-2025.md
Due: none

fix(scripts): add per-thread logging and graceful shutdown
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(justfile): add -it flags to shell recipe for interactive TTY
  justfile
Due: none

docs(blog): standardize December blog format to match project template
  notes/blog/12-19-2025.md
  notes/blog/12-21-2025.md
Due: none

feat(docs): Add comprehensive performance benchmarking guide
  docs/advanced/benchmarking.md
  docs/index.md
Due: none

feat(core): Extract magic numbers to named constants
  shared/core/__init__.mojo
  shared/core/activation.mojo
  shared/core/activation_constants.mojo
  shared/core/activation_simd.mojo
  shared/core/numerical_constants.mojo
  shared/core/optimizer_constants.mojo
  shared/core/types/__init__.mojo
  shared/core/types/fp_constants.mojo
  shared/testing/__init__.mojo
  shared/testing/assertions.mojo
  shared/testing/tolerance_constants.mojo
  tests/shared/core/test_constants.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat(quality): Add type annotations to Python scripts - Phase 1
  .github/workflows/type-check.yml
  mypy.ini
  pixi.lock
  pixi.toml
  scripts/agents/agent_utils.py
  scripts/agents/list_agents.py
  scripts/agents/validate_agents.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(quality): Add code coverage reporting infrastructure
  .github/workflows/coverage.yml
  README.md
  coverage.toml
  scripts/check_coverage.py
  scripts/generate_test_metrics.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(#2631): Implement Strassen's algorithm for large matrix multiplication
  shared/core/__init__.mojo
  shared/core/matmul.mojo
  tests/shared/core/test_strassen.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(mypy): relax mypy configuration for gradual adoption
  mypy.ini
Due: none

ci(tests): add test_constants.mojo to CI test coverage
  .github/workflows/comprehensive-tests.yml
Due: validate-test-coverage
