Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting - requires Mojo v0.26.1+
  # See: https://docs.modular.com/mojo/manual/
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format
        entry: pixi run mojo format
        language: system
        files: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|ðŸ”¥)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|ðŸ”¥)$
        types: [text]

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # Jupyter notebook output stripping
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: Strip Notebook Outputs
        description: Remove outputs from Jupyter notebooks before commit
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

docs: add ADR-009 and heap corruption investigation artifacts
  docs/adr/ADR-009-heap-corruption-workaround.md
  scripts/validate_test_file_sizes.py
  tests/models/test_heap_corruption_combined.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

fix(docs): update broken Mojo documentation links
  .claude-plugin/skills/fix-implicitlycopyable-removal/SKILL.md
  .claude-plugin/skills/fix-implicitlycopyable-removal/references/notes.md
Due: none

fix(blog): correct day numbering to be sequential (Day One - Day Fifty)
  notes/blog/11-21-2025.md
  notes/blog/11-22-2025.md
  notes/blog/11-23-2025.md
  notes/blog/11-24-2025.md
  notes/blog/11-25-2025.md
  notes/blog/11-26-2025.md
  notes/blog/11-27-2025.md
  notes/blog/11-28-2025.md
  notes/blog/11-29-2025.md
  notes/blog/12-1-2025.md
  notes/blog/12-10-2025.md
  notes/blog/12-11-2025.md
  notes/blog/12-12-2025.md
  notes/blog/12-14-2025.md
  notes/blog/12-15-2025.md
  notes/blog/12-16-2025.md
  notes/blog/12-17-2025.md
  notes/blog/12-18-2025.md
  notes/blog/12-19-2025.md
  notes/blog/12-2-2025.md
  notes/blog/12-20-2025.md
  notes/blog/12-21-2025.md
  notes/blog/12-22-2025.md
  notes/blog/12-23-2025.md
  notes/blog/12-24-2025.md
  notes/blog/12-25-2025.md
  notes/blog/12-26-2025.md
  notes/blog/12-27-2025.md
  notes/blog/12-28-2025.md
  notes/blog/12-29-2025.md
  notes/blog/12-3-2025.md
  notes/blog/12-4-2025.md
  notes/blog/12-5-2025.md
  notes/blog/12-7-2025.md
  notes/blog/12-8-2025.md
  notes/blog/12-9-2025.md
Due: none

docs(skills): add fix-docker-image-case skill
  .claude/skills/fix-docker-image-case/SKILL.md
  references/docker-image-case-fix-notes.md
Due: none

feat(skills): add dtype-native-migration skill
  .claude-plugin/skills/dtype-native-migration/SKILL.md
  .claude-plugin/skills/dtype-native-migration/references/notes.md
Due: none

feat: add claude code safety net plugin
  .claude/settings.json
Due: none

feat(#3010): Implement placeholder test fixtures and resolve import tests
  shared/__init__.mojo
  shared/core/__init__.mojo
  shared/training/__init__.mojo
  shared/utils/__init__.mojo
  tests/shared/conftest.mojo
  tests/shared/integration/test_packaging.mojo
  tests/shared/test_imports.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat: Implement #3013 - ExTensor Operations
  examples/alexnet-cifar10/train.mojo
  shared/core/__init__.mojo
  shared/core/extensor.mojo
  shared/core/shape.mojo
  shared/training/__init__.mojo
  shared/training/trainer_interface.mojo
  tests/shared/core/test_shape.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat: Implement SIMD mixed precision FP16↔FP32 vectorization (#3015)
  benchmarks/bench_mixed_precision.mojo
  shared/training/mixed_precision.mojo
  tests/shared/training/test_mixed_precision_simd.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

style: apply mojo format to conv.mojo and matrix.mojo
  shared/core/conv.mojo
  shared/core/matrix.mojo
Due: mojo-format, check-list-constructor

fix: resolve pre-commit issues (mojo format, List syntax, Python lint)
  tests/scripts/test_dependency_resolver.py
  tests/scripts/test_worktree_manager.py
  tests/shared/conftest.mojo
  tests/shared/integration/test_packaging.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

style: apply mojo format to shape.mojo
  shared/core/shape.mojo
Due: mojo-format, check-list-constructor

refactor(core): remove BFloat16 alias, use BF16 consistently
  shared/core/dtype_cast.mojo
  shared/core/dtype_dispatch.mojo
  shared/core/types/bf16.mojo
  shared/testing/layer_testers.mojo
  shared/testing/special_values.mojo
  shared/training/gradient_ops.mojo
  tests/shared/core/test_bf16.mojo
  tests/shared/testing/test_special_values.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(ci): apply pre-commit formatting fixes
  shared/core/extensor.mojo
  shared/core/types/mxfp4.mojo
  shared/core/types/nvfp4.mojo
  shared/training/gradient_ops.mojo
  tests/scripts/test_dashboard.py
  tests/scripts/test_dependency_resolver.py
  tests/scripts/test_worktree_manager.py
Due: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python

fix(ci): add test_bf16.mojo to CI and fix unused variable
  .github/workflows/comprehensive-tests.yml
Due: validate-test-coverage

refactor(types)!: migrate custom dtypes to Mojo built-in types
  .github/workflows/comprehensive-tests.yml
  examples/alexnet-cifar10/train.mojo
  shared/__init__.mojo
  shared/autograd/tape.mojo
  shared/core/__init__.mojo
  shared/core/dtype_cast.mojo
  shared/core/extensor.mojo
  shared/core/traits.mojo
  shared/core/types/__init__.mojo
  shared/core/types/bf16.mojo
  shared/core/types/bf8.mojo
  shared/core/types/dtype_aliases.mojo
  shared/core/types/fp4.mojo
  shared/core/types/fp8.mojo
  shared/core/types/mxfp4.mojo
  shared/core/types/nvfp4.mojo
  shared/training/__init__.mojo
  shared/training/dtype_utils.mojo
  shared/training/gradient_ops.mojo
  shared/training/mixed_precision.mojo
  shared/training/trainer_interface.mojo
  shared/utils/__init__.mojo
  tests/core/types/test_fp4_base.mojo
  tests/core/types/test_fp4_stochastic.mojo
  tests/core/types/test_fp4_tensor.mojo
  tests/core/types/test_mxfp4_block.mojo
  tests/core/types/test_nvfp4_block.mojo
  tests/models/test_alexnet_layers.mojo
  tests/models/test_lenet5_fc_layers.mojo
  tests/shared/conftest.mojo
  tests/shared/core/test_bf16.mojo
  tests/shared/core/test_bf8.mojo
  tests/shared/core/test_extensor_slicing.mojo
  tests/shared/core/test_fp4.mojo
  tests/shared/core/test_fp8.mojo
  tests/shared/core/test_mxfp4.mojo
  tests/shared/core/test_nvfp4.mojo
  tests/shared/core/test_shape.mojo
  tests/shared/testing/test_layer_testers_analytical.mojo
  tests/shared/training/test_training_loop.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(tests): update dtype_utils test for native bfloat16
  tests/shared/training/test_dtype_utils.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

docs: add blog notes for today
  notes/blog/12-31-2025.md
Due: none

fix(tests): use clone() instead of copy() for independent tensor copies
  tests/shared/core/test_composed_op.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix: apply mojo format and add test_composed_op to CI coverage
  .github/workflows/comprehensive-tests.yml
  shared/core/traits.mojo
  tests/shared/autograd/test_no_grad_context.mojo
  tests/shared/core/test_composed_op.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(blog): correct Python file count to exclude hidden directories
  notes/blog/12-31-2025.md
Due: none

feat(tests): implement real test fixtures in conftest.mojo (#3033)
  tests/shared/conftest.mojo
Due: mojo-format, check-list-constructor

feat(training): implement script_runner module (#3034)
  .claude/ralph-loop.local.md
  shared/training/script_runner.mojo
Due: mojo-format, check-list-constructor

feat(training): implement dataset_loaders module (#3034)
  shared/training/dataset_loaders.mojo
Due: mojo-format, check-list-constructor

feat(training): export script_runner and dataset_loaders utilities (#3034)
  shared/training/__init__.mojo
Due: mojo-format, check-list-constructor

docs(extensor): update Array API status - all categories implemented
  .claude/ralph-loop.local.md
  shared/core/extensor.mojo
Due: mojo-format, check-list-constructor

fix(examples): implement linear operation in trait_based_layer
  examples/trait_based_layer.mojo
Due: mojo-format, check-list-constructor

fix(tests): convert float16 FIXME to NOTE in LeNet-5 FC layers test
  tests/models/test_lenet5_fc_layers.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat(logging): implement environment variable reading for log level
  shared/utils/logging.mojo
Due: mojo-format, check-list-constructor

fix(examples): use ExTensor.slice() for sample extraction in AlexNet eval
  examples/alexnet-cifar10/train.mojo
Due: mojo-format, check-list-constructor

docs(training): convert FP16 SIMD TODOs to NOTEs in mixed_precision
  shared/training/mixed_precision.mojo
Due: mojo-format, check-list-constructor
