Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting (BUGGY)
  #
  # BUGGY REASON: The mojo format tool incorrectly removes spaces in method signatures,
  # specifically converting "fn method(mut self" to "fn method(mutself" which breaks the code.
  # This causes all Mojo files formatted by this hook to become syntactically invalid.
  #
  # TRACKING ISSUE: https://github.com/modular/modular/issues/5573
  # Bug description: mojo format removes the space after 'mut' keyword in parameter lists, and other issues
  #
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format (skips if mojo not available)
        entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
        language: system
        files: \.(mojo|üî•)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: \.(mojo|üî•)$
        types: [text]

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]
      - id: validate-urls
        name: Validate URLs in Python files
        description: Check that HTTP/HTTPS URLs in Python files are reachable
        entry: python3 scripts/validate_urls.py
        language: system
        files: \.py$
        types: [python]
        pass_filenames: true
      - id: ruff-format-scripts
        name: Ruff Format Scripts
        description: Format Python files in scripts/ using pixi run ruff format
        entry: pixi run ruff format scripts/
        language: system
        files: ^scripts/.*\.py$
        types: [python]
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

fix(scripts): Improve Claude agent prompts with explicit context
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(extensor): Implement comparison operations with NaN/Inf edge cases and bool dtype support
  shared/core/__init__.mojo
  shared/core/arithmetic.mojo
  shared/core/comparison.mojo
  shared/core/extensor.mojo
  tests/shared/core/test_edge_cases.mojo
Due: mojo-format, check-list-constructor

fix(scripts): Handle case where Claude commits and creates PR itself
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): Process blocked issues with failing PRs
  scripts/analyze_issues.py
  scripts/analyze_issues_claude.py
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): Use single-line status display in implement_issues.py
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): Batch GitHub API calls to avoid rate limits
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): Get repo owner/name from git instead of hardcoding
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(ci): install PyYAML for test-agents workflow
  .github/workflows/test-agents.yml
Due: none

fix(scripts): Fix status display racing with log messages
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): add curses-based UI with scrolling logs and status panel
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): add work queue buffer for continuous worker utilization
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): ensure Claude commits changes before finishing
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

refactor(scripts): enhance commit prompts with full context
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): add live worker status updates with Claude output
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): add TTY fallback for curses UI
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): Check if external dependencies are closed
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): Process blocked issues with failing PRs
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(tests): add unused variable consumption in test_emnist.mojo
  tests/shared/data/datasets/test_emnist.mojo
Due: mojo-format, check-list-constructor

refactor(autograd): extract backward operations from tape to separate module
  shared/autograd/__init__.mojo
  shared/autograd/backward_ops.mojo
  shared/autograd/tape.mojo
  shared/autograd/tape_types.mojo
Due: mojo-format, check-list-constructor

fix(core): comment out non-existent statistical function imports
  shared/core/__init__.mojo
  tests/configs/fixtures/temp_config.yaml
Due: mojo-format, check-list-constructor

docs(blog): add Day Thirty-Two - Statistical Operations (AI-generated)
  notes/blog/12-18-2025.md
Due: none

fix(tests): revert infinity tests to placeholders
  tests/shared/core/test_edge_cases.mojo
Due: mojo-format, check-list-constructor

fix(extensor): use proper IEEE 754 infinity constants
  shared/core/extensor.mojo
Due: mojo-format, check-list-constructor

fix(core): use Scalar[DType.bool] consistently for bool tensors
  shared/core/extensor.mojo
Due: mojo-format, check-list-constructor

feat(core): complete statistical reduction operations implementation
  shared/core/__init__.mojo
  shared/core/reduction.mojo
  tests/configs/fixtures/temp_config.yaml
Due: mojo-format, check-list-constructor

fix(core): use specialized 2D gradient impl for matmul_backward
  shared/core/matrix.mojo
Due: mojo-format, check-list-constructor

fix(core): fix matmul_backward gradient computation for 2D matrices
  shared/core/matrix.mojo
  tests/shared/core/test_matrix.mojo
Due: mojo-format, check-list-constructor

feat(data): implement data pipeline architecture with caching and prefetch
  README.md
  examples/data_pipeline_demo.mojo
  shared/data/README.md
  shared/data/__init__.mojo
  shared/data/cache.mojo
  shared/data/dataset_with_transform.mojo
  shared/data/prefetch.mojo
  tests/shared/data/test_cache.mojo
  tests/shared/data/test_dataset_with_transform.mojo
  tests/shared/data/test_prefetch.mojo
Due: mojo-format, check-list-constructor

fix(docs): fix markdown fences and broken PyTorch link
  shared/data/README.md
Due: none
