Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting (BUGGY)
  #
  # BUGGY REASON: The mojo format tool incorrectly removes spaces in method signatures,
  # specifically converting "fn method(mut self" to "fn method(mutself" which breaks the code.
  # This causes all Mojo files formatted by this hook to become syntactically invalid.
  #
  # TRACKING ISSUE: https://github.com/modular/modular/issues/5573
  # Bug description: mojo format removes the space after 'mut' keyword in parameter lists, and other issues
  #
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format (skips if mojo not available)
        entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
        language: system
        files: \.(mojo|üî•)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: \.(mojo|üî•)$
        types: [text]

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]
      - id: validate-urls
        name: Validate URLs in Python files
        description: Check that HTTP/HTTPS URLs in Python files are reachable
        entry: python3 scripts/validate_urls.py
        language: system
        files: \.py$
        types: [python]
        pass_filenames: true
      - id: ruff-format-scripts
        name: Ruff Format Scripts
        description: Format Python files in scripts/ using pixi run ruff format
        entry: pixi run ruff format scripts/
        language: system
        files: ^scripts/.*\.py$
        types: [python]
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

chore: remove bash script
  scripts/plan-issues.sh
Due: none

fix(scripts): add retry logic for transient GitHub API errors
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): add live status display for parallel mode
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): add main thread status and fine-grained stage tracking
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): improve status display responsiveness
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): add TTY detection for status display
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): use cursor save/restore for clean TTY display
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): remove unnecessary f-string prefix
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

refactor(scripts): modernize type hints and fix linting issues
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): remove unused imports in validate_agents.py
  scripts/agents/validate_agents.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): analyze multiple plans and keep only the best
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): use Claude to evaluate and select best plan
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): add signal handlers, diagnostic files, and docstrings to plan_issues.py
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): show live Claude output during plan generation
  scripts/plan-issues.sh
Due: none

fix(scripts): simplify TTY display with cursor up movement
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): add rate limit detection and auto-retry to plan-issues.sh
  scripts/plan-issues.sh
Due: none

fix(scripts): address code review findings for plan-issues.sh
  scripts/plan-issues.sh
Due: none

refactor(scripts): comprehensive pedantic fixes for plan_issues.py
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(scripts): fix regex syntax error in check_rate_limit function
  scripts/plan-issues.sh
Due: none

fix: remove unused List import and add ruff check to pre-commit
  .pre-commit-config.yaml
  scripts/download_emnist.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix: format test_config.mojo and add to CI coverage
  .github/workflows/comprehensive-tests.yml
  tests/shared/training/test_config.mojo
Due: mojo-format, check-list-constructor

feat(scripts): add analyze_issues.py for dependency analysis and epic creation
  scripts/analyze_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(tests): enable dot product tests and fix segfault
  tests/shared/core/test_matrix.mojo
Due: mojo-format, check-list-constructor

feat(scripts): centralize frontmatter extraction into agent_utils.py
  scripts/agents/agent_utils.py
  tests/agents/test_loading.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(core): implement advanced ExTensor shape manipulation operations
  shared/core/shape.mojo
Due: mojo-format, check-list-constructor

feat(extensor): implement slicing and indexing operations (#2721)
  shared/core/extensor.mojo
  tests/shared/core/test_extensor_slicing.mojo
Due: mojo-format, check-list-constructor

feat(scripts): add implement_issues.py for parallel issue implementation
  scripts/analyze_issues_claude.py
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(scripts): add progress output during title fetching
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

refactor(scripts): change --max-parallel to --parallel [N]
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat: Implement #2635
  shared/core/__init__.mojo
  shared/core/reduction.mojo
  shared/core/reduction_ops.mojo
Due: mojo-format, check-list-constructor

feat: Implement #2635
  shared/core/reduction.mojo
Due: mojo-format, check-list-constructor

fix(reduction): wrap long function calls to meet formatting standards
  shared/core/reduction.mojo
Due: mojo-format, check-list-constructor

fix(scripts): Add create_for_existing_branch and fix remote origin
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts
