Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

mojo-format:
  name: Mojo Format
  description: Format Mojo source files using mojo format (skips if mojo not available)
  entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
  language: system
  pass_filenames: true

check-list-constructor:
  name: Check for deprecated List[Type](args) syntax
  description: Prevent use of invalid List variadic constructor (use list literals instead)
  entry: List\[.*\]\([0-9]
  language: pygrep

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

validate-test-coverage:
  name: Validate Test Coverage
  description: Ensure all test_*.mojo files are covered by CI matrix
  entry: python3 scripts/validate_test_coverage.py
  language: system
  pass_filenames: false

docs(blog): add Day Thirty-Five - Fast Paths (AI-generated)
  notes/blog/12-23-2025.md
Due: none

perf(core): Add contiguous fast path for arithmetic operations
  .github/workflows/comprehensive-tests.yml
  shared/core/arithmetic_contiguous.mojo
  tests/shared/core/test_arithmetic_contiguous.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(examples): rename grad_kernel to grad_weights in lenet training
  examples/lenet-emnist/train.mojo
Due: mojo-format, check-list-constructor

fix(tests): add missing main function to test_arithmetic_contiguous.mojo
  tests/shared/core/test_arithmetic_contiguous.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(tests): fix type errors in arithmetic contiguous tests
  tests/shared/core/test_arithmetic_contiguous.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat(core): add error message context and suggestions
  shared/core/error_utils.mojo
  shared/core/matmul.mojo
Due: mojo-format, check-list-constructor

feat(ci): add automated dependency updates and auditing
  .github/dependabot.yml
  .github/workflows/README.md
  .github/workflows/dependency-audit.yml
  .github/workflows/mojo-version-check.yml
  .mojo-version
  justfile
  requirements-dev.txt
  requirements.txt
Due: none

feat(autograd): integrate gradient system with training infrastructure
  examples/autograd/simple_example.mojo
  examples/trait_based_layer.mojo
  shared/training/__init__.mojo
Due: mojo-format, check-list-constructor

chore(ci): add missing test files to comprehensive tests workflow
  .github/workflows/comprehensive-tests.yml
Due: validate-test-coverage

feat(validation): add 10 new input validation functions for public APIs
  shared/core/__init__.mojo
  shared/core/validation.mojo
  tests/shared/core/test_validation_extended.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

refactor(core): standardize dim→axis parameter naming
  shared/core/shape.mojo
  shared/training/__init__.mojo
  tests/shared/core/test_shape.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

docs(tests): update issue #2715 status comments in conftest.mojo
  scripts/plot_training.py
  shared/training/metrics/csv_metrics_logger.mojo
  tests/shared/training/test_csv_metrics_logger.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

fix(training): comment out missing script_runner imports
  shared/training/__init__.mojo
Due: mojo-format, check-list-constructor

refactor(training): standardize TrainingArgs usage across all training scripts
  examples/googlenet-cifar10/train.mojo
  examples/mobilenetv1-cifar10/train.mojo
  examples/resnet18-cifar10/train.mojo
  examples/vgg16-cifar10/train.mojo
  shared/utils/arg_parser.mojo
  shared/utils/training_args.mojo
Due: mojo-format, check-list-constructor

fix(benchmarks): migrate to Mojo native file I/O API and fix compilation errors
  benchmarks/reporter.mojo
  benchmarks/scripts/compare_results.mojo
  benchmarks/scripts/run_benchmarks.mojo
Due: mojo-format, check-list-constructor

docs(benchmarks): fix docstring formatting warnings
  benchmarks/scripts/compare_results.mojo
Due: mojo-format, check-list-constructor

docs(blog): add Day Thirty-Six - Memory Management (AI-generated)
  notes/blog/12-24-2025.md
Due: none

feat(optimizers): add save_state/load_state methods for full checkpoint support
  examples/alexnet-cifar10/train_new.mojo
  examples/optimizer_checkpoint_demo.mojo
  examples/vgg16-cifar10/train_new.mojo
  shared/autograd/optimizers.mojo
  shared/training/__init__.mojo
Due: mojo-format, check-list-constructor

fix(training): remove premature gradient_accumulation import
  shared/training/__init__.mojo
Due: mojo-format, check-list-constructor

perf(data): optimize batch extraction with zero-copy slicing (#2624)
  shared/data/batch_utils.mojo
  tests/shared/core/test_slicing.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(tests): update except syntax for Mojo v0.26+ in test_slicing.mojo
  tests/shared/core/test_slicing.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(extensor): allow views to participate in refcount management
  shared/core/extensor.mojo
Due: mojo-format, check-list-constructor

fix(core): fix view destructor refcount leak
  shared/core/extensor.mojo
Due: mojo-format, check-list-constructor

fix(extensor): fix refcount underflow in __del__ for views
  shared/core/extensor.mojo
Due: mojo-format, check-list-constructor

test(scripts): add comprehensive unit tests for automation scripts
  tests/scripts/test_fix_build_errors.py
  tests/scripts/test_implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(scripts): add health check, rollback, and graph export to implement_issues.py
  scripts/implement_issues.py
  tests/scripts/test_retry_logic.py
  tests/scripts/test_security.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(scripts): improve robustness and error handling in fix-build-errors.py
  scripts/fix-build-errors.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

test(scripts): add integration test scripts for both automation tools
  tests/scripts/integration_fix_build.sh
  tests/scripts/integration_implement.sh
Due: none

feat(scripts): add error handling, health checks, and metrics to automation scripts
  scripts/fix-build-errors.py
  scripts/implement_issues.py
  scripts/utils/__init__.py
  scripts/utils/retry.py
  tests/scripts/test_retry_logic.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(scripts): security fixes and code cleanup for automation scripts
  scripts/fix-build-errors.py
  scripts/implement_issues.py
  tests/scripts/__init__.py
  tests/scripts/test_security.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(autograd): create base optimizer trait for code reuse
  shared/autograd/optimizer_base.mojo
  shared/autograd/optimizers.mojo
  tests/shared/autograd/test_optimizer_base.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

Path conditions:
  mojo-format: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
  check-list-constructor: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  validate-test-coverage: any of: (test_.*\.mojo|comprehensive-tests\.yml)$
