Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

mojo-format:
  name: Mojo Format
  description: Format Mojo source files using mojo format (skips if mojo not available)
  entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
  language: system
  pass_filenames: true

check-list-constructor:
  name: Check for deprecated List[Type](args) syntax
  description: Prevent use of invalid List variadic constructor (use list literals instead)
  entry: List\[.*\]\([0-9]
  language: pygrep

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

validate-urls:
  name: Validate URLs in Python files
  description: Check that HTTP/HTTPS URLs in Python files are reachable
  entry: python3 scripts/validate_urls.py
  language: system
  pass_filenames: true

ruff-format-scripts:
  name: Ruff Format Scripts
  description: Format Python files in scripts/ using pixi run ruff format
  entry: pixi run ruff format scripts/
  language: system
  pass_filenames: false

fix(docs): correct markdown title spacing
  shared/BUILD.md
  shared/EXAMPLES.md
  shared/INSTALL.md
  shared/MIGRATION.md
  shared/README.md
  shared/core/README.md
  shared/data/README.md
  shared/training/README.md
  shared/utils/README.md
Due: none

fix(tests): fix data pipeline test imports and ownership
  tests/shared/data/test_cache.mojo
  tests/shared/data/test_dataset_with_transform.mojo
  tests/shared/data/test_prefetch.mojo
Due: mojo-format, check-list-constructor

fix(core): fix matmul_backward gradient computation for 2D matrices
  shared/core/matrix.mojo
  tests/shared/core/test_matrix.mojo
Due: mojo-format, check-list-constructor

style(data): format cache.mojo and prefetch.mojo
  shared/data/cache.mojo
  shared/data/prefetch.mojo
Due: mojo-format, check-list-constructor

feat(core): implement sin_backward and cos_backward gradient functions
  shared/core/__init__.mojo
  shared/core/elementwise.mojo
  tests/shared/core/test_elementwise.mojo
Due: mojo-format, check-list-constructor

fix(scalar_ops): correct docstring indentation for mojo validation
  shared/core/scalar_ops.mojo
Due: mojo-format, check-list-constructor

ci(link-check): ignore known redirect patterns
  .lycheeignore
  examples/data_pipeline_demo.mojo
Due: mojo-format, check-list-constructor

fix(core): export clone, item, diff from extensor
  shared/core/__init__.mojo
Due: mojo-format, check-list-constructor

docs: Add missing docstrings and fix documentation formatting
  shared/autograd/grad_utils.mojo
  shared/autograd/tape_types.mojo
  shared/training/evaluation.mojo
  shared/training/mixed_precision.mojo
  shared/training/model_utils.mojo
  shared/training/precision_config.mojo
  shared/training/trainer_interface.mojo
Due: mojo-format, check-list-constructor

refactor(implement_issues): remove PR creation, commit only
  scripts/implement_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(#2715): Implement test fixtures and placeholder tests
  shared/core/matrix.mojo
  shared/utils/io.mojo
  tests/helpers/fixtures.mojo
  tests/shared/conftest.mojo
Due: mojo-format, check-list-constructor

feat: Implement high-level data loader integration tests (#2729)
  tests/shared/data/test_datasets.mojo
  tests/shared/data/test_loaders.mojo
  tests/shared/data/test_transforms.mojo
Due: mojo-format, check-list-constructor

fix: Correct parameter names and ownership in integration tests
  tests/shared/data/test_datasets.mojo
  tests/shared/data/test_loaders.mojo
  tests/shared/data/test_transforms.mojo
Due: mojo-format, check-list-constructor

feat: Implement #2731 SIMD vectorization for FP16 and mixed precision
  shared/testing/special_values.mojo
  shared/training/mixed_precision.mojo
  tests/shared/testing/test_special_values.mojo
  tests/shared/training/test_mixed_precision.mojo
Due: mojo-format, check-list-constructor

docs: Replace placeholder issue references with descriptive examples
  agents/docs/examples.md
Due: none

refactor(agents): Move AgentInfo to shared utilities (#2600)
  scripts/agents/test_agent_loading.py
  tests/agents/test_agent_utils.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(coverage): Add prominent warning to mock coverage parser
  docs/adr/ADR-008-coverage-tool-blocker.md
  scripts/check_coverage.py
  tests/scripts/test_check_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat: Add comprehensive learning rate schedulers for issue #2665
  shared/training/__init__.mojo
  shared/training/schedulers/__init__.mojo
  shared/training/schedulers/lr_schedulers.mojo
  shared/training/trainer_interface.mojo
  tests/shared/training/test_exponential_scheduler.mojo
  tests/shared/training/test_multistep_scheduler.mojo
  tests/shared/training/test_warmup_composite_scheduler.mojo
Due: mojo-format, check-list-constructor

fix: resolve pre-commit failures
  shared/testing/gradient_checker.mojo
Due: mojo-format, check-list-constructor

fix: resolve pre-commit failures
  shared/utils/progress_bar.mojo
  tests/shared/utils/test_progress_bar.mojo
Due: mojo-format, check-list-constructor

feat(performance): Add parallel processing for batch operations
  shared/core/__init__.mojo
  shared/core/conv.mojo
  shared/core/normalization.mojo
  shared/core/parallel_utils.mojo
  shared/core/pooling.mojo
Due: mojo-format, check-list-constructor

feat(tests): Implement test utility functions and fixtures (#2734)
  tests/conftest.mojo
  tests/helpers/__init__.mojo
  tests/helpers/fixtures.mojo
  tests/helpers/test_fixtures.mojo
  tests/helpers/test_utils.mojo
  tests/helpers/utils.mojo
  tests/shared/integration/__init__.mojo
Due: mojo-format, check-list-constructor

feat(training): Implement gradient system for backward pass and optimizer step
  shared/training/__init__.mojo
Due: mojo-format, check-list-constructor

feat(data-pipeline): Finalize data pipeline architecture implementation
  examples/data_pipeline_demo.mojo
Due: mojo-format, check-list-constructor

fix: resolve pre-commit failures
  .github/workflows/comprehensive-tests.yml
  examples/data_pipeline_demo.mojo
Due: mojo-format, check-list-constructor

feat(logging): Implement comprehensive logging framework with test suite
  shared/utils/__init__.mojo
  shared/utils/logging.mojo
  tests/shared/utils/test_logging.mojo
Due: mojo-format, check-list-constructor

fix: protect against home directory deletion
  .claude/hooks/pre-bash-exec.sh
  .claude/hooks/test-safety-hooks.sh
Due: none

fix(hooks): improve path resolution and macOS compatibility
  .claude/hooks/pre-bash-exec.sh
  .claude/hooks/test-safety-hooks.sh
Due: none

fix: install hook properly
  .claude/settings.json
Due: none

fix: make sure the hook is installed correctly
  .claude/hooks/pre-bash-exec.sh
  .claude/settings.json
Due: none

fix: add more tests and handle more corner cases
  .claude/hooks/pre-bash-exec.sh
  .claude/hooks/test-safety-hooks.sh
Due: none

Path conditions:
  mojo-format: any of: \.(mojo|üî•)$
  check-list-constructor: any of: \.(mojo|üî•)$
  check-shell-injection: any of: \.py$ and \.py$
  validate-urls: any of: \.py$ and \.py$
  ruff-format-scripts: any of: ^scripts/.*\.py$ and \.py$
