Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting (BUGGY)
  #
  # BUGGY REASON: The mojo format tool incorrectly removes spaces in method signatures,
  # specifically converting "fn method(mut self" to "fn method(mutself" which breaks the code.
  # This causes all Mojo files formatted by this hook to become syntactically invalid.
  #
  # TRACKING ISSUE: https://github.com/modular/modular/issues/5573
  # Bug description: mojo format removes the space after 'mut' keyword in parameter lists, and other issues
  #
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format (skips if mojo not available)
        entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
        language: system
        files: \.(mojo|üî•)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: \.(mojo|üî•)$
        types: [text]

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]
      - id: validate-urls
        name: Validate URLs in Python files
        description: Check that HTTP/HTTPS URLs in Python files are reachable
        entry: python3 scripts/validate_urls.py
        language: system
        files: \.py$
        types: [python]
        pass_filenames: true
      - id: ruff-format-scripts
        name: Ruff Format Scripts
        description: Format Python files in scripts/ using pixi run ruff format
        entry: pixi run ruff format scripts/
        language: system
        files: ^scripts/.*\.py$
        types: [python]
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

fix: documentation fixes
  shared/core/activation.mojo
  shared/core/activation_ops.mojo
  shared/core/arithmetic.mojo
  shared/core/arithmetic_simd.mojo
  shared/core/attention.mojo
  shared/core/bfloat16.mojo
  shared/core/broadcasting.mojo
  shared/core/comparison.mojo
  shared/core/conv.mojo
  shared/core/defaults.mojo
  shared/core/dtype_cast.mojo
  shared/core/dtype_dispatch.mojo
  shared/core/elementwise.mojo
  shared/core/gradient_types.mojo
  shared/core/initializers.mojo
  shared/core/layers/__init__.mojo
  shared/core/layers/dropout.mojo
  shared/core/layers/relu.mojo
  shared/core/loss.mojo
  shared/core/loss_utils.mojo
  shared/core/math_constants.mojo
  shared/core/normalization.mojo
  shared/core/normalize_ops.mojo
  shared/core/numerical_constants.mojo
  shared/core/numerical_safety.mojo
  shared/core/ops/__init__.mojo
  shared/core/pooling.mojo
  shared/core/reduction.mojo
  shared/core/reduction_utils.mojo
  shared/core/scalar_ops.mojo
  shared/core/traits.mojo
  shared/core/types/__init__.mojo
  shared/core/types/bf8.mojo
  shared/core/types/fp4.mojo
  shared/core/types/fp8.mojo
  shared/core/types/mxfp4.mojo
  shared/core/types/nvfp4.mojo
  shared/core/utils.mojo
  shared/core/validation.mojo
Due: mojo-format, check-list-constructor

docs(blog): add Day Twenty-Six - Matrix Multiplication Breakthrough (AI-generated)
  notes/blog/12-10-2025.md
Due: none

docs(core): fix docstrings in batch 1 (4 files)
  shared/core/activation_ops.mojo
  shared/core/arithmetic.mojo
  shared/core/extensor.mojo
  shared/core/matmul.mojo
Due: mojo-format, check-list-constructor

fix: remove python based url validation
  .pre-commit-config.yaml
  scripts/validate_urls.py
  tests/test_core_operations.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

fix: add python scripts to fix initializers or list patterns
  scripts/fix_initializer_signatures.py
  scripts/fix_list_patterns.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

docs(core): fix docstrings in batch 1 (4 files)
  shared/core/activation.mojo
  shared/core/activation_ops.mojo
  shared/core/extensor.mojo
Due: mojo-format, check-list-constructor

fix: documentation fixes
  shared/core/activation.mojo
  shared/core/activation_ops.mojo
  shared/core/arithmetic_simd.mojo
  shared/core/broadcasting.mojo
  shared/core/comparison.mojo
  shared/core/defaults.mojo
  shared/core/dtype_cast.mojo
  shared/core/gradient_types.mojo
  shared/core/layers/__init__.mojo
  shared/core/layers/dropout.mojo
  shared/core/layers/relu.mojo
  shared/core/math_constants.mojo
  shared/core/normalize_ops.mojo
  shared/core/numerical_constants.mojo
  shared/core/ops/__init__.mojo
  shared/core/reduction_utils.mojo
  shared/core/scalar_ops.mojo
  shared/core/traits.mojo
  shared/core/types/__init__.mojo
  shared/core/types/bf8.mojo
  shared/core/types/fp4.mojo
  shared/core/types/fp8.mojo
  shared/core/types/nvfp4.mojo
  shared/core/utils.mojo
  shared/core/validation.mojo
Due: mojo-format, check-list-constructor

chore: remove DENSENET121 implementation artifacts
  tests/models/DENSENET121_DELIVERABLES.md
  tests/models/DENSENET121_IMPLEMENTATION_SUMMARY.md
  tests/models/DENSENET121_QUICK_REFERENCE.md
  tests/models/DENSENET121_TEST_STRATEGY.md
  tests/models/README_DENSENET121.md
Due: none

fix(testing): fix tuple unpacking, Float casts, and conv2d_backward calls (Phase 2b)
  tests/models/test_alexnet_layers.mojo
  tests/models/test_googlenet_layers.mojo
  tests/models/test_lenet5_layers.mojo
  tests/shared/testing/test_layer_testers.mojo
  tests/shared/testing/test_special_values.mojo
Due: mojo-format, check-list-constructor

fix: fix redirect failures
  .claude/skills/ci-validate-workflow/SKILL.md
  .claude/skills/quality-coverage-report/SKILL.md
  docs/adr/ADR-002-gradient-struct-return-types.md
Due: none

fix: format mojo files properly
  CLAUDE.md
  shared/testing/dtype_utils.mojo
  shared/testing/layer_testers.mojo
  shared/testing/special_values.mojo
  tests/models/test_alexnet_e2e.mojo
  tests/models/test_alexnet_layers.mojo
  tests/models/test_densenet121_e2e.mojo
  tests/models/test_densenet121_layers.mojo
  tests/models/test_googlenet_e2e.mojo
  tests/models/test_googlenet_layers.mojo
  tests/models/test_lenet5_e2e.mojo
  tests/models/test_lenet5_layers.mojo
  tests/models/test_mobilenetv1_e2e.mojo
  tests/models/test_mobilenetv1_layers.mojo
  tests/models/test_resnet18_e2e.mojo
  tests/models/test_resnet18_layers.mojo
  tests/shared/testing/test_dtype_utils.mojo
  tests/shared/testing/test_gradient_checker_meta.mojo
  tests/shared/testing/test_layer_testers.mojo
  tests/shared/testing/test_special_values.mojo
Due: mojo-format, check-list-constructor

fix(ci): use extractions/setup-just action instead of curl
  .github/workflows/README.md
  .github/workflows/build-validation.yml
  .github/workflows/comprehensive-tests.yml
Due: none

ci: move E2E model tests to weekly-only, remove unsupported -Werror
  .github/workflows/comprehensive-tests.yml
  justfile
  scripts/validate_test_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix: script validation failure fix
  scripts/fix_list_patterns.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

build: separate build (mojo build) and package (mojo package) recipes
  justfile
Due: none

fix: resolve model test compilation errors
  examples/__init__.mojo
  examples/densenet121-cifar10/__init__.mojo
  examples/densenet121_cifar10
  tests/models/test_alexnet_layers.mojo
  tests/models/test_googlenet_layers.mojo
  tests/models/test_lenet5_layers.mojo
  tests/models/test_mobilenetv1_layers.mojo
Due: mojo-format, check-list-constructor

fix(tests): resolve compilation errors in model layer tests
  tests/models/test_googlenet_layers.mojo
  tests/models/test_mobilenetv1_layers.mojo
  tests/models/test_resnet18_layers.mojo
  tests/models/test_vgg16_layers.mojo
Due: mojo-format, check-list-constructor

fix(tests): add FIXME with issue references for disabled tests
  tests/models/test_alexnet_layers.mojo
  tests/models/test_lenet5_layers.mojo
Due: mojo-format, check-list-constructor

fix(tests): resolve model test failures and mark slow tests with FIXME
  tests/models/test_alexnet_layers.mojo
  tests/models/test_lenet5_layers.mojo
  tests/models/test_resnet18_layers.mojo
  tests/models/test_vgg16_layers.mojo
Due: mojo-format, check-list-constructor

chore: link FIXMEs to GitHub issues and remove broken examples
  examples/getting-started/first_model_model.mojo
  examples/getting-started/first_model_train.mojo
  examples/getting-started/mlp_training_example.mojo
  examples/getting-started/quickstart_example.mojo
  shared/__init__.mojo
  shared/core/__init__.mojo
  shared/core/matrix.mojo
  shared/core/reduction.mojo
  shared/data/transforms.mojo
  shared/testing/gradient_checker.mojo
  shared/testing/layer_testers.mojo
  shared/training/__init__.mojo
  shared/training/loops/training_loop.mojo
  shared/training/metrics/evaluate.mojo
  shared/utils/__init__.mojo
  shared/utils/io.mojo
  shared/utils/profiling.mojo
  shared/utils/visualization.mojo
  tests/helpers/fixtures.mojo
  tests/shared/conftest.mojo
Due: mojo-format, check-list-constructor

refactor: consolidate get_repo_root() function (#2579)
  scripts/migrate_notes_to_github.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

refactor: simplify argument parser nesting (#2587)
  shared/utils/arg_parser.mojo
Due: mojo-format, check-list-constructor

refactor: unify extract_frontmatter() variants (#2581)
  scripts/agents/agent_utils.py
  scripts/agents/check_frontmatter.py
  scripts/agents/list_agents.py
  scripts/agents/test_agent_loading.py
  scripts/agents/validate_agents.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

chore: link TODOs to GitHub issues (#2717-#2734)
  examples/alexnet-cifar10/train.mojo
  examples/autograd/simple_example.mojo
  examples/test_arithmetic.mojo
  examples/trait_based_layer.mojo
  papers/_template/examples/train.mojo
  shared/core/extensor.mojo
  shared/core/matrix.mojo
  shared/training/__init__.mojo
  shared/training/loops/training_loop.mojo
  shared/training/mixed_precision.mojo
  shared/training/trainer.mojo
  shared/training/trainer_interface.mojo
  tests/conftest.mojo
  tests/helpers/fixtures.mojo
  tests/helpers/utils.mojo
  tests/shared/benchmarks/bench_data_loading.mojo
  tests/shared/benchmarks/bench_layers.mojo
  tests/shared/core/test_arithmetic.mojo
  tests/shared/core/test_conv.mojo
  tests/shared/core/test_edge_cases.mojo
  tests/shared/core/test_matmul.mojo
  tests/shared/core/test_matrix.mojo
  tests/shared/core/test_normalization.mojo
  tests/shared/core/test_shape.mojo
  tests/shared/core/test_utility.mojo
  tests/shared/data/test_datasets.mojo
  tests/shared/data/test_loaders.mojo
  tests/shared/data/test_transforms.mojo
  tests/shared/integration/__init__.mojo
  tests/shared/integration/test_multi_precision_training.mojo
  tests/shared/testing/test_special_values.mojo
  tests/shared/training/test_mixed_precision.mojo
  tests/shared/training/test_training_loop.mojo
Due: mojo-format, check-list-constructor

style: apply mojo format to tape.mojo (#2586)
  shared/autograd/tape.mojo
Due: mojo-format, check-list-constructor

refactor: extract backward dispatch to helper method (#2586)
  shared/autograd/tape.mojo
Due: mojo-format, check-list-constructor

refactor: create DType dispatch helpers to eliminate boilerplate (#2582)
  shared/core/initializers.mojo
Due: mojo-format, check-list-constructor

fix: use inline early returns to avoid StringSlice type mismatch (#2587)
  shared/utils/arg_parser.mojo
Due: mojo-format, check-list-constructor

refactor(core): consolidate tanh to activation.mojo (#2599)
  shared/core/elementwise.mojo
Due: mojo-format, check-list-constructor

refactor(scripts): create agent utilities module (#2598)
  scripts/agents/agent_utils.py
  scripts/agents/check_frontmatter.py
  scripts/agents/list_agents.py
  scripts/agents/validate_agents.py
Due: check-shell-injection, validate-urls, ruff-format-scripts
