Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting (BUGGY)
  #
  # BUGGY REASON: The mojo format tool incorrectly removes spaces in method signatures,
  # specifically converting "fn method(mut self" to "fn method(mutself" which breaks the code.
  # This causes all Mojo files formatted by this hook to become syntactically invalid.
  #
  # TRACKING ISSUE: https://github.com/modular/modular/issues/5573
  # Bug description: mojo format removes the space after 'mut' keyword in parameter lists, and other issues
  #
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format (skips if mojo not available)
        entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
        language: system
        files: \.(mojo|üî•)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: \.(mojo|üî•)$
        types: [text]

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]
      - id: validate-urls
        name: Validate URLs in Python files
        description: Check that HTTP/HTTPS URLs in Python files are reachable
        entry: python3 scripts/validate_urls.py
        language: system
        files: \.py$
        types: [python]
        pass_filenames: true
      - id: ruff-format-scripts
        name: Ruff Format Scripts
        description: Format Python files in scripts/ using pixi run ruff format
        entry: pixi run ruff format scripts/
        language: system
        files: ^scripts/.*\.py$
        types: [python]
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

docs(shared): fix docstring issues - reduce errors by 29%
  shared/autograd/optimizers.mojo
  shared/autograd/schedulers.mojo
  shared/autograd/tape.mojo
  shared/benchmarking/result.mojo
  shared/benchmarking/runner.mojo
  shared/core/activation.mojo
  shared/core/attention.mojo
  shared/core/elementwise.mojo
  shared/core/elementwise_dispatch.mojo
  shared/core/extensor.mojo
  shared/core/gradient_types.mojo
  shared/core/layers/batchnorm.mojo
  shared/core/layers/conv2d.mojo
  shared/core/types/mxfp4.mojo
  shared/core/types/nvfp4.mojo
  shared/data/formats/cifar_loader.mojo
  shared/data/generic_transforms.mojo
  shared/data/loaders.mojo
  shared/data/samplers.mojo
  shared/data/text_transforms.mojo
  shared/data/transforms.mojo
  shared/testing/assertions.mojo
  shared/testing/models.mojo
  shared/training/base.mojo
  shared/training/callbacks.mojo
  shared/training/evaluation.mojo
  shared/training/metrics/base.mojo
  shared/training/metrics/loss_tracker.mojo
  shared/training/mixed_precision.mojo
  shared/training/trainer_interface.mojo
  shared/utils/config.mojo
  shared/utils/io.mojo
  shared/utils/profiling.mojo
  shared/utils/visualization.mojo
Due: mojo-format, check-list-constructor

perf(activation): fuse softplus to reduce 7 allocations to 1 (#2593)
  shared/core/activation.mojo
Due: mojo-format, check-list-constructor

perf(pooling): add optimized MaxPool2D with row-wise precomputation (#2594)
  shared/core/pooling.mojo
Due: mojo-format, check-list-constructor

perf(reduction): eliminate coordinate allocations with direct index math (#2591)
  shared/core/reduction.mojo
  shared/core/reduction_utils.mojo
Due: mojo-format, check-list-constructor

fix(matmul): zero-initialize result tensor for cache-friendly loop
  shared/core/matrix.mojo
Due: mojo-format, check-list-constructor

perf(core): pre-allocate stride lists for efficiency (#2592)
  shared/core/arithmetic.mojo
  shared/core/broadcasting.mojo
Due: mojo-format, check-list-constructor

perf(matrix): restructure matmul loop order for cache locality (#2596)
  shared/core/matrix.mojo
  tests/models/test_googlenet_layers.mojo
  tests/models/test_resnet18_layers.mojo
  tests/shared/core/test_backward.mojo
  tests/shared/core/test_creation.mojo
  tests/shared/core/test_dropout.mojo
  tests/shared/core/test_edge_cases.mojo
  tests/shared/core/test_extensor_operators.mojo
  tests/shared/core/test_loss_utils.mojo
  tests/shared/core/test_normalization.mojo
  tests/shared/core/test_nvfp4.mojo
  tests/shared/core/test_tensors.mojo
Due: mojo-format, check-list-constructor

style: apply mojo format to function signatures
  shared/core/arithmetic.mojo
Due: mojo-format, check-list-constructor

feat(random): add statistical test functions for distribution validation
  shared/utils/random.mojo
Due: mojo-format, check-list-constructor

refactor(activation): consolidate PReLU dtype branches with generic helper
  shared/core/activation.mojo
Due: mojo-format, check-list-constructor

perf(core): preallocate List capacity to avoid reallocations
  shared/core/matrix.mojo
  shared/core/pooling.mojo
  shared/core/reduction.mojo
Due: mojo-format, check-list-constructor

perf(arithmetic): use tensor ops for divide backward pass
  shared/core/arithmetic.mojo
Due: mojo-format, check-list-constructor

docs: add blog entry for today
  notes/blog/12-5-2025.md
Due: none

docs(blog): add Day Twenty-Eight - Micro-Optimizations (AI-generated)
  notes/blog/12-12-2025.md
Due: none

perf(core): add List capacity preallocation to avoid reallocations
  shared/core/matrix.mojo
  shared/core/pooling.mojo
  shared/core/reduction.mojo
Due: mojo-format, check-list-constructor

perf(activation): optimize mish and sigmoid implementations
  shared/core/activation.mojo
Due: mojo-format, check-list-constructor

perf(arithmetic): use tensor ops for subtract_backward
  shared/core/arithmetic.mojo
Due: mojo-format, check-list-constructor

perf(reduction): eliminate Float64 conversions in forward passes
  shared/core/reduction.mojo
Due: mojo-format, check-list-constructor

perf(elementwise): eliminate Float64 conversions in forward passes
  shared/core/elementwise.mojo
Due: mojo-format, check-list-constructor

docs(blog): standardize December blog post formatting
  notes/blog/12-14-2025.md
  notes/blog/12-5-2025.md
Due: none

style: format matrix.mojo
  shared/core/matrix.mojo
Due: mojo-format, check-list-constructor

style: format elementwise.mojo
  shared/core/elementwise.mojo
Due: mojo-format, check-list-constructor

perf(matrix): eliminate Float64 conversions in matmul hot loops
  shared/core/matrix.mojo
Due: mojo-format, check-list-constructor

style: format reduction.mojo
  shared/core/reduction.mojo
Due: mojo-format, check-list-constructor

perf(reduction): eliminate Float64 conversions in backward passes
  shared/core/reduction.mojo
Due: mojo-format, check-list-constructor

test: adjust gradient check tolerances for dtype-specialized ops
  tests/shared/core/test_backward.mojo
  tests/shared/core/test_gradient_checking.mojo
Due: mojo-format, check-list-constructor

perf(core): eliminate per-element Float64 conversions in hot paths
  shared/core/comparison.mojo
  shared/core/matrix.mojo
  shared/core/reduction.mojo
Due: mojo-format, check-list-constructor

fix(scripts): comprehensive security and reliability fixes for plan-issues.sh
  scripts/plan-issues.sh
Due: none

feat(scripts): add plan-issues.sh for automated GitHub issue planning
  scripts/plan-issues.sh
Due: none

fix(scripts): achieve feature parity between plan_issues.py and bash version
  scripts/plan_issues.py
Due: check-shell-injection, validate-urls, ruff-format-scripts
