Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting (BUGGY)
  #
  # BUGGY REASON: The mojo format tool incorrectly removes spaces in method signatures,
  # specifically converting "fn method(mut self" to "fn method(mutself" which breaks the code.
  # This causes all Mojo files formatted by this hook to become syntactically invalid.
  #
  # TRACKING ISSUE: https://github.com/modular/modular/issues/5573
  # Bug description: mojo format removes the space after 'mut' keyword in parameter lists, and other issues
  #
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format (skips if mojo not available)
        entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
        language: system
        files: \.(mojo|üî•)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: \.(mojo|üî•)$
        types: [text]

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]
      - id: validate-urls
        name: Validate URLs in Python files
        description: Check that HTTP/HTTPS URLs in Python files are reachable
        entry: python3 scripts/validate_urls.py
        language: system
        files: \.py$
        types: [python]
        pass_filenames: true
      - id: ruff-format-scripts
        name: Ruff Format Scripts
        description: Format Python files in scripts/ using pixi run ruff format
        entry: pixi run ruff format scripts/
        language: system
        files: ^scripts/.*\.py$
        types: [python]
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

fix(tests): resolve BatchNorm test failures (syntax + numerical)
  shared/core/layers/batchnorm.mojo
Due: mojo-format, check-list-constructor

chore: remove outdated files
  AGENT_CLAUDE4_UPDATE_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
Due: none

fix(tests): resolve test_serialization.mojo API signature mismatches
  tests/shared/test_serialization.mojo
Due: mojo-format, check-list-constructor

fix: format test_base_loader.mojo to pass pre-commit CI
  tests/shared/data/loaders/test_base_loader.mojo
Due: mojo-format, check-list-constructor

fix(tests): correct VGG-16 parameter indices in test_model_utils.mojo
  examples/densenet121-cifar10/test_model.mojo
  examples/googlenet-cifar10/test_model.mojo
  examples/mobilenetv1-cifar10/test_model.mojo
  tests/shared/test_model_utils.mojo
  tests/shared/test_serialization.mojo
Due: mojo-format, check-list-constructor

fix: unpack batch_norm2d return tuples in GoogleNet and MobileNet
  examples/googlenet-cifar10/model.mojo
  examples/mobilenetv1-cifar10/model.mojo
Due: mojo-format, check-list-constructor

fix: resolve test_serialization.mojo permission errors
  tests/shared/test_serialization.mojo
Due: mojo-format, check-list-constructor

refactor: clean up test_serialization.mojo helper functions
  examples/googlenet-cifar10/model.mojo
  tests/shared/test_serialization.mojo
Due: mojo-format, check-list-constructor

fix: add missing dtype parameters and correct __init__ signatures
  examples/densenet121-cifar10/model.mojo
  examples/googlenet-cifar10/model.mojo
  examples/mobilenetv1-cifar10/model.mojo
  examples/test_arithmetic.mojo
Due: mojo-format, check-list-constructor

fix: resolve List mutation and Copyable trait errors
  examples/densenet121-cifar10/model.mojo
  examples/googlenet-cifar10/model.mojo
Due: mojo-format, check-list-constructor

fix: resolve function call errors and complete remaining initializer fixes
  examples/densenet121-cifar10/model.mojo
  examples/googlenet-cifar10/model.mojo
  examples/mobilenetv1-cifar10/model.mojo
Due: mojo-format, check-list-constructor

docs: enforce strict no --no-verify policy
  .claude/shared/git-commit-policy.md
  .claude/skills/ci-run-precommit/SKILL.md
  .claude/skills/quality-fix-formatting/SKILL.md
  .clinerules
  CLAUDE.md
  CONTRIBUTING.md
Due: none

docs(blog): add Day Twenty-Five - Dependency Untangling (AI-generated)
  notes/blog/12-9-2025.md
Due: none

docs: update README with essential quick-start guide
  README.md
Due: none

fix(ci): exclude dataset-dependent tests from coverage validation
  scripts/validate_test_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

ci: mark Configs and Training tests as non-blocking
  .github/workflows/comprehensive-tests.yml
  scripts/validate_test_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

ci: mark Benchmarks tests as non-blocking
  .github/workflows/comprehensive-tests.yml
  scripts/validate_test_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

ci: mark Core Layers and Example Arithmetic tests as non-blocking
  .github/workflows/comprehensive-tests.yml
  scripts/validate_test_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

feat(matmul): implement progressive matrix multiplication optimization (100-1000x speedup)
  benchmarks/bench_matmul.mojo
  docs/optimization/matmul-optimization-guide.md
  shared/core/matmul.mojo
  tests/shared/core/test_matmul.mojo
Due: mojo-format, check-list-constructor

fix(matmul): resolve all compilation warnings and errors
  benchmarks/bench_matmul.mojo
  tests/shared/core/test_matmul.mojo
Due: mojo-format, check-list-constructor

feat(benchmark): add comprehensive help menu with dynamic program name
  benchmarks/bench_matmul.mojo
Due: mojo-format, check-list-constructor

feat: add admin override prohibition and fix CI test failures (#2678, #2679)
  .claude/shared/common-constraints.md
  .github/workflows/comprehensive-tests.yml
  scripts/download_cifar10.py
  shared/utils/config.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

style: apply mojo format to matmul files
  benchmarks/bench_matmul.mojo
  shared/core/matmul.mojo
  tests/shared/core/test_matmul.mojo
Due: mojo-format, check-list-constructor

fix: add model-dataset parameter instead of just model
  justfile
Due: none

fix: update dict iteration to use ref for non-copyable types
  shared/utils/arg_parser.mojo
  shared/utils/config.mojo
  shared/utils/io.mojo
Due: mojo-format, check-list-constructor

fix: add numpy to pixi
  pixi.lock
  pixi.toml
Due: none

fix: get lenet to run training properly
  examples/lenet-emnist/run_train.mojo
  examples/lenet-emnist/train.mojo
  scripts/download_emnist.py
Due: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

fix(utils): implement dict iteration in arg_parser and io
  shared/utils/arg_parser.mojo
  tests/shared/utils/test_arg_parser.mojo
  tests/shared/utils/test_io.mojo
Due: mojo-format, check-list-constructor

feat(tests): implement all io_helpers test utilities
  tests/shared/fixtures/io_helpers.mojo
  tests/shared/fixtures/test_io_helpers.mojo
Due: mojo-format, check-list-constructor

docs(coverage): document Mojo coverage tool blocker
  docs/adr/ADR-008-coverage-tool-blocker.md
  scripts/check_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(ci): fix compilation error and temporarily disable docstring warnings
  justfile
  shared/utils/arg_parser.mojo
Due: mojo-format, check-list-constructor

docs(ci): improve documentation for emergency CI fixes
  justfile
  shared/utils/arg_parser.mojo
Due: mojo-format, check-list-constructor

docs(claude): add critical 'Never Push to Main' rule
  CLAUDE.md
Due: none
