Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

mojo-format:
  name: Mojo Format
  description: Format Mojo source files using mojo format
  entry: pixi run mojo format
  language: system
  pass_filenames: true

check-list-constructor:
  name: Check for deprecated List[Type](args) syntax
  description: Prevent use of invalid List variadic constructor (use list literals instead)
  entry: List\[.*\]\([0-9]
  language: pygrep

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

validate-test-coverage:
  name: Validate Test Coverage
  description: Ensure all test_*.mojo files are covered by CI matrix
  entry: python3 scripts/validate_test_coverage.py
  language: system
  pass_filenames: false

feat(profiling): implement file I/O for profiling report export
  shared/utils/profiling.mojo
Due: mojo-format, check-list-constructor

docs(training): convert FP16 SIMD TODOs to NOTEs in mixed_precision
  shared/training/mixed_precision.mojo
Due: mojo-format, check-list-constructor

docs(training): convert Track 4 TODOs to NOTEs
  shared/training/__init__.mojo
  shared/training/trainer_interface.mojo
Due: mojo-format, check-list-constructor

test(utils): implement visualization module tests
  tests/shared/utils/test_visualization.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix: delete ralph loop
  .claude/ralph-loop.local.md
Due: none

test(core): enable eye() offset diagonal test
  tests/shared/core/test_creation.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

docs(tests): clarify from_array() implementation status
  tests/shared/core/test_creation.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

docs(benchmarks): convert TODO to NOTE for argv parsing
  benchmarks/scripts/compare_results.mojo
Due: mojo-format, check-list-constructor

fix(visualization): handle empty inputs in compute_confusion_matrix
  shared/utils/visualization.mojo
Due: mojo-format, check-list-constructor

feat(agents): add agent-scoped hooks for safety enforcement
  .claude/agents/algorithm-review-specialist.md
  .claude/agents/architecture-review-specialist.md
  .claude/agents/data-engineering-review-specialist.md
  .claude/agents/dependency-review-specialist.md
  .claude/agents/documentation-review-specialist.md
  .claude/agents/implementation-review-specialist.md
  .claude/agents/junior-documentation-engineer.md
  .claude/agents/junior-implementation-engineer.md
  .claude/agents/junior-test-engineer.md
  .claude/agents/mojo-language-review-specialist.md
  .claude/agents/paper-review-specialist.md
  .claude/agents/performance-review-specialist.md
  .claude/agents/research-review-specialist.md
  .claude/agents/safety-review-specialist.md
  .claude/agents/security-review-specialist.md
  .claude/agents/templates/review-specialist-template.md
  .claude/agents/test-review-specialist.md
Due: none

feat(hooks): add once field to SessionEnd retrospective hook
  .claude/settings.json
Due: none

fix(skills): break long line in template documentation
  .claude/skills/SKILL_FORMAT_TEMPLATE.md
Due: none

fix(tests): remove unused variable warnings in test_packaging.mojo
  tests/shared/integration/test_packaging.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

skill(debugging): add investigate-mojo-heap-corruption workflow
  .claude-plugin/plugin.json
  .claude-plugin/skills/investigate-mojo-heap-corruption/SKILL.md
  .claude-plugin/skills/investigate-mojo-heap-corruption/references/notes.md
Due: none

refactor: migrate retrospective skills to ProjectMnemosyne
  .claude-plugin/plugin.json
  .claude-plugin/skills/fix-implicitlycopyable-removal/SKILL.md
  .claude-plugin/skills/fix-implicitlycopyable-removal/references/notes.md
  .claude-plugin/skills/investigate-mojo-heap-corruption/SKILL.md
  .claude-plugin/skills/investigate-mojo-heap-corruption/references/notes.md
  .claude-plugin/skills/verify-issue-before-work/SKILL.md
  .claude-plugin/skills/verify-issue-before-work/references/notes.md
Due: none

feat(skills): add fixme-todo-cleanup skill from retrospective
  .claude-plugin/plugin.json
  skills/fixme-todo-cleanup/SKILL.md
  skills/fixme-todo-cleanup/references/notes.md
Due: none

Fix API compatibility issues causing CI/CD failures
  shared/__init__.mojo
  tests/shared/integration/test_packaging.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

style(tests): apply mojo format to test_imports.mojo
  tests/shared/test_imports.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

Replace MIT license with BSD license
  README.md
  shared/__init__.mojo
  tests/shared/integration/test_packaging.mojo
  tests/shared/test_imports.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

Replace MIT license with BSD license
  README.md
  shared/version.mojo
  tests/shared/integration/test_packaging.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(tests): resolve API compatibility issues in test_packaging.mojo
  tests/shared/integration/test_packaging.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(serialization): add defensive memory safety checks
  shared/utils/serialization.mojo
  tests/shared/integration/test_packaging.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

style: format test_imports.mojo
  tests/shared/test_imports.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

docs(skills): add fix-ci-memory-safety-failures skill
  .claude-plugin/skills/fix-ci-memory-safety-failures/SKILL.md
  .claude-plugin/skills/fix-ci-memory-safety-failures/plugin.json
  .claude-plugin/skills/fix-ci-memory-safety-failures/references/notes.md
Due: none

fix(tests): address review feedback from PR #3109
  tests/shared/integration/test_packaging.mojo
  tests/shared/test_imports.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

Fix code formatting issues detected by pre-commit hooks
  tests/shared/integration/test_packaging.mojo
  tests/shared/test_imports.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

style(tests): fix formatting violations in test_imports.mojo
  tests/shared/test_imports.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(ci): prevent Test Report from reading stale artifacts
  .github/workflows/comprehensive-tests.yml
Due: validate-test-coverage

style: apply mojo format to test_packaging.mojo
  tests/shared/integration/test_packaging.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

Path conditions:
  mojo-format: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|ðŸ”¥)$
  check-list-constructor: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|ðŸ”¥)$
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  validate-test-coverage: any of: (test_.*\.mojo|comprehensive-tests\.yml)$
