Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

mojo-format:
  name: Mojo Format
  description: Format Mojo source files using mojo format (skips if mojo not available)
  entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
  language: system
  pass_filenames: true

check-list-constructor:
  name: Check for deprecated List[Type](args) syntax
  description: Prevent use of invalid List variadic constructor (use list literals instead)
  entry: List\[.*\]\([0-9]
  language: pygrep

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

validate-test-coverage:
  name: Validate Test Coverage
  description: Ensure all test_*.mojo files are covered by CI matrix
  entry: python3 scripts/validate_test_coverage.py
  language: system
  pass_filenames: false

fix: add more tests and handle more corner cases
  .claude/hooks/pre-bash-exec.sh
  .claude/hooks/test-safety-hooks.sh
Due: none

fix: install hook properly
  .claude/settings.json
Due: none

fix: convert hook and tests to python for simplicity
  .claude/hooks/pre-bash-exec.py
  .claude/hooks/pre-bash-exec.sh
  .claude/hooks/test-safety-hooks.sh
  .claude/settings.json
  tests/claude/hooks/test_bash_hooks.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix: make sure the hook is installed correctly
  .claude/hooks/pre-bash-exec.sh
  .claude/settings.json
Due: none

fix: fix broken precommit
  .claude/hooks/pre-bash-exec.py
  .claude/skills/phase-test-tdd/templates/integration_test.py
  tests/claude/hooks/test_bash_hooks.py
  tests/configs/test_schema.py
  tests/foundation/test_directory_structure.py
  tests/foundation/test_papers_directory.py
  tests/foundation/test_structure_integration.py
  tests/foundation/test_template_structure.py
  tests/test_package_papers.py
  tests/tooling/tools/test_category_organization.py
  tests/tooling/tools/test_directory_structure.py
  tests/tooling/tools/test_documentation.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix: remove densenet, will re-add later
  .github/workflows/comprehensive-tests.yml
  CLAUDE.md
  docs/dev/reviews.md
  docs/dev/testing-strategy.md
  docs/dev/validation.md
  notes/blog/12-14-2025.md
  scripts/agents/test_agent_loading.py
  scripts/validate_test_coverage.py
  shared/training/config.mojo
  shared/training/evaluation.mojo
  shared/training/metrics/evaluate.mojo
  shared/training/model_utils.mojo
  tests/integration/test_all_architectures.mojo
  tests/models/__init__.mojo
  tests/models/test_densenet121_e2e.mojo
  tests/models/test_densenet121_layers.mojo
  tests/shared/training/test_config.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

chore: remove dead, duplicate, or legacy documentation
  examples/densenet121-cifar10/README.md
  examples/densenet121-cifar10/__init__.mojo
  examples/densenet121-cifar10/download_cifar10.py
  examples/densenet121-cifar10/inference.mojo
  examples/densenet121-cifar10/model.mojo
  examples/densenet121-cifar10/test_model.mojo
  examples/densenet121-cifar10/train.mojo
  requirements.txt
  scripts/add_test_main.py
  scripts/agents/playground/README.md
  scripts/agents/playground/cleanup_agent_redundancy.py
  scripts/agents/playground/condense_mojo_guidelines.py
  scripts/agents/playground/condense_pr_sections.py
  scripts/agents/playground/create_single_component_issues.py
  scripts/agents/playground/fix_agent_markdown.py
  scripts/agents/playground/fix_duplicate_delegation.py
  scripts/diagnose_dropout.mojo
  shared/core/initializers.mojo
  shared/core/traits.mojo
  shared/training/evaluation.mojo
  shared/training/metrics/accuracy.mojo
  shared/training/metrics/confusion_matrix.mojo
  shared/training/metrics/evaluate.mojo
  shared/training/metrics/loss_tracker.mojo
  shared/training/metrics/results_printer.mojo
  tests/dependencies/test_dependencies.py
  tests/github/test_templates.py
  tests/models/DENSENET121_FILES.txt
  tests/shared/training/test_evaluate.mojo
  tests/shared/training/test_evaluation.mojo
  tests/shared/training/test_results_printer.mojo
  tools/CATALOG.md
  tools/requirements.txt
Due: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

docs(blog): add Day Thirty-Three - Build System Polish (AI-generated)
  notes/blog/12-20-2025.md
Due: none

fix: get compilation to work properly for these tests
  tests/unit/test_cross_entropy_crash.mojo
  tests/unit/test_extensor_init_large.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

docs: add 12-21 blog entry for makefile changes
  notes/blog/12-21-2025.md
Due: none

fix: remove redundant options
  .github/workflows/README.md
  CLAUDE.md
  justfile
Due: none

fix: convert all \`native-<op>\` into \`native <op>\` form
  justfile
Due: none

fix: unify docker-shell and shell into one
  CLAUDE.md
  justfile
Due: none

fix: rename ci-validate to plan validate
  .github/workflows/README.md
  CLAUDE.md
  justfile
Due: none

fix: remove unused help message
  justfile
  shared/__init__.mojo
Due: mojo-format, check-list-constructor

fix: remove unused ci commands
  justfile
Due: none

fix: rename ci-test-[group|mojo] to test-[group|mojo]
  .github/workflows/README.md
  .github/workflows/build-validation.yml
  .github/workflows/comprehensive-tests.yml
  CLAUDE.md
  docs/adr/ADR-008-coverage-tool-blocker.md
  justfile
  scripts/check_coverage.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

feat(tests): Add comprehensive edge case tests for tensor operations (#2640)
  tests/shared/core/test_edge_cases.mojo
  tests/shared/core/test_reduction_edge_cases.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat(tests): Add comprehensive edge case tests for tensor operations
  tests/shared/core/test_elementwise_edge_cases.mojo
  tests/shared/core/test_high_dimensional.mojo
  tests/shared/core/test_matrix_edge_cases.mojo
  tests/shared/core/test_shape_edge_cases.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix: resolve pre-commit failures
  .github/workflows/comprehensive-tests.yml
Due: validate-test-coverage

fix(tests): resolve broadcasting and empty tensor reshape failures
  shared/core/shape.mojo
  tests/shared/core/test_high_dimensional.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(training): resolve trainer.mojo compilation errors
  shared/training/trainer.mojo
Due: mojo-format, check-list-constructor

feat: Implement tensor serialization and deserialization (#2727)
  .github/workflows/comprehensive-tests.yml
  examples/trait_based_layer.mojo
  shared/core/extensor.mojo
  shared/training/trainer.mojo
  tests/examples/test_trait_based_serialization.mojo
  tests/shared/core/test_extensor_serialization.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(examples): rewrite integer_example to use built-in Mojo types
  examples/integer_example.mojo
Due: mojo-format, check-list-constructor

refactor(scripts): change fix-build-errors to create individual PRs
  scripts/fix-build-errors.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(examples): use full() as standalone function, not ExTensor static method
  examples/mixed_precision_training.mojo
Due: mojo-format, check-list-constructor

Path conditions:
  mojo-format: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
  check-list-constructor: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  validate-test-coverage: any of: (test_.*\.mojo|comprehensive-tests\.yml)$
