Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:
  # Mojo formatting (BUGGY)
  #
  # BUGGY REASON: The mojo format tool incorrectly removes spaces in method signatures,
  # specifically converting "fn method(mut self" to "fn method(mutself" which breaks the code.
  # This causes all Mojo files formatted by this hook to become syntactically invalid.
  #
  # TRACKING ISSUE: https://github.com/modular/modular/issues/5573
  # Bug description: mojo format removes the space after 'mut' keyword in parameter lists, and other issues
  #
  - repo: local
    hooks:
      - id: mojo-format
        name: Mojo Format
        description: Format Mojo source files using mojo format (skips if mojo not available)
        entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
        language: system
        files: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
        pass_filenames: true
      - id: check-list-constructor
        name: Check for deprecated List[Type](args) syntax
        description: Prevent use of invalid List variadic constructor (use list literals instead)
        entry: 'List\[.*\]\([0-9]'
        language: pygrep
        files: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
        types: [text]

  # Security checks and Python formatting/linting
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

feat(core): Extract magic numbers to named constants
  shared/core/__init__.mojo
  shared/core/activation.mojo
  shared/core/activation_constants.mojo
  shared/core/activation_simd.mojo
  shared/core/numerical_constants.mojo
  shared/core/optimizer_constants.mojo
  shared/core/types/__init__.mojo
  shared/core/types/fp_constants.mojo
  shared/testing/__init__.mojo
  shared/testing/assertions.mojo
  shared/testing/tolerance_constants.mojo
  tests/shared/core/test_constants.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(docs): use absolute GitHub URLs for benchmark file links
  docs/advanced/benchmarking.md
Due: none

feat(hooks): add SessionEnd hook for retrospective prompts
  .claude/hooks/retrospective-trigger.py
  .claude/settings.json
Due: check-shell-injection

feat(docs): Add comprehensive performance benchmarking guide
  docs/advanced/benchmarking.md
  docs/index.md
Due: none

fix(docs): fix line length and broken link in benchmarking guide
  docs/advanced/benchmarking.md
Due: none

fix(docker): install gh and claude CLI as root to avoid sudo issues
  Dockerfile
Due: none

feat(#2631): Implement Strassen's algorithm for large matrix multiplication
  shared/core/__init__.mojo
  shared/core/matmul.mojo
  tests/shared/core/test_strassen.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat: add mypy to pixi
  pixi.lock
  pixi.toml
Due: none

fix(mypy): fix type annotation errors in Python scripts
  mypy.ini
  scripts/check_readmes.py
  scripts/download_datasets.py
  scripts/fix_remaining_markdown.py
  scripts/get_system_info.py
  scripts/utils/retry.py
  scripts/validate_links.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(infrastructure): Add Jupyter Notebook support for ML Odyssey
  .github/workflows/notebook-validation.yml
  .pre-commit-config.yaml
  justfile
  notebooks/01_introduction.ipynb
  notebooks/02_tensor_operations.ipynb
  notebooks/03_building_models.ipynb
  notebooks/04_training_mnist.ipynb
  notebooks/05_visualization.ipynb
  notebooks/06_advanced_techniques.ipynb
  notebooks/README.md
  notebooks/utils/__init__.py
  notebooks/utils/mojo_bridge.py
  notebooks/utils/progress.py
  notebooks/utils/tensor_utils.py
  notebooks/utils/visualization.py
  pixi.lock
  pixi.toml
  tests/notebooks/__init__.py
  tests/notebooks/test_notebook_structure.py
  tests/notebooks/test_utils.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(lint): remove unused imports detected by ruff
  scripts/analyze_issues.py
  scripts/get_system_info.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(mypy): fix all remaining type annotation errors
  scripts/agents/agent_stats.py
  scripts/agents/check_frontmatter.py
  scripts/agents/test_agent_loading.py
  scripts/agents/tests/test_integration.py
  scripts/analyze_issues.py
  scripts/batch_planning_docs.py
  scripts/check_readmes.py
  scripts/create_issues.py
  scripts/download_emnist.py
  scripts/fix-build-errors.py
  scripts/fix_markdown.py
  scripts/fix_markdown_lint.py
  scripts/generate_test_metrics.py
  scripts/get_stats.py
  scripts/implement_issues.py
  scripts/lint_configs.py
  scripts/migrate_notes_to_github.py
  scripts/plan_issues.py
  scripts/update_agents_claude4.py
  scripts/validate_links.py
  scripts/validate_structure.py
  scripts/validate_test_coverage.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(ci): remove ARM64 Docker builds
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

fix(notebooks): fix markdown lint and YAML syntax errors
  .github/workflows/notebook-validation.yml
  notebooks/01_introduction.ipynb
  notebooks/02_tensor_operations.ipynb
  notebooks/03_building_models.ipynb
  notebooks/04_training_mnist.ipynb
  notebooks/05_visualization.ipynb
  notebooks/06_advanced_techniques.ipynb
  notebooks/README.md
  pixi.toml
  tests/notebooks/test_notebook_structure.py
  tests/notebooks/test_utils.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(tests): enable AlexNet backward tests with sampled gradient checking
  tests/models/test_alexnet_layers.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat(papers): implement template training infrastructure
  papers/_template/examples/train.mojo
Due: mojo-format, check-list-constructor

fix(core): use seed parameter in randn function
  shared/core/extensor.mojo
Due: mojo-format, check-list-constructor

feat(training): enable training loop tests with SimpleMLP and randn
  shared/core/__init__.mojo
  tests/shared/training/test_training_loop.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(tests): format long print line in training loop test
  tests/shared/training/test_training_loop.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(ci): use lowercase image name for Docker SBOM generation
  .github/workflows/docker.yml
Due: none

style(benchmarks): apply mojo format to benchmark files
  tests/shared/benchmarks/bench_layers.mojo
  tests/shared/benchmarks/bench_optimizers.mojo
Due: mojo-format, check-list-constructor

docs(blog): add Day Forty - Notebooks and Testing (AI-generated)
  notes/blog/12-28-2025.md
Due: none

fix(ci): add fuzz tests to comprehensive test matrix
  .github/workflows/comprehensive-tests.yml
Due: validate-test-coverage

fix(docs): remove broken placeholder links in ADR template
  docs/adr/template.md
Due: none

fix(benchmarks): use list literals instead of deprecated List constructor
  tests/shared/benchmarks/bench_data_loading.mojo
  tests/shared/benchmarks/bench_optimizers.mojo
Due: mojo-format, check-list-constructor

feat(training): export CSVMetricsLogger from metrics package
  shared/training/metrics/__init__.mojo
Due: mojo-format, check-list-constructor

feat(benchmarks): add performance regression testing infrastructure
  benchmarks/data-loading/.gitkeep
  benchmarks/model-training/.gitkeep
  benchmarks/scripts/compare_benchmarks.py
  benchmarks/tensor-ops/run_benchmark.py
Due: check-shell-injection

fix(benchmarks): fix Mojo syntax errors in benchmark files
  tests/shared/benchmarks/bench_data_loading.mojo
  tests/shared/benchmarks/bench_layers.mojo
  tests/shared/benchmarks/bench_optimizers.mojo
Due: mojo-format, check-list-constructor

docs(migration): add PyTorch to ML Odyssey migration guide
  docs/migration/pytorch-to-ml-odyssey.md
Due: none

fix(mojo): fix syntax errors and warnings for Mojo v0.26.1+
  examples/alexnet-cifar10/train.mojo
  shared/core/conv.mojo
  shared/core/pooling.mojo
Due: mojo-format, check-list-constructor

feat(tooling): add code generation tools for boilerplate Mojo code
  .templates/dataset_template.mojo
  .templates/layer_template.mojo
  .templates/model_template.mojo
  .templates/tests_template.mojo
  .templates/training_template.mojo
  scripts/generators/__init__.py
  scripts/generators/generate_dataset.py
  scripts/generators/generate_layer.py
  scripts/generators/generate_model.py
  scripts/generators/generate_tests.py
  scripts/generators/generate_training_script.py
  scripts/generators/mojo_gen.py
  scripts/generators/templates.py
  scripts/mojo-gen
Due: check-shell-injection, ruff-format-python, ruff-check-python
