Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

mojo-format:
  name: Mojo Format
  description: Format Mojo source files using mojo format (skips if mojo not available)
  entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
  language: system
  pass_filenames: true

check-list-constructor:
  name: Check for deprecated List[Type](args) syntax
  description: Prevent use of invalid List variadic constructor (use list literals instead)
  entry: List\[.*\]\([0-9]
  language: pygrep

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

validate-urls:
  name: Validate URLs in Python files
  description: Check that HTTP/HTTPS URLs in Python files are reachable
  entry: python3 scripts/validate_urls.py
  language: system
  pass_filenames: true

ruff-format-scripts:
  name: Ruff Format Scripts
  description: Format Python files in scripts/ using pixi run ruff format
  entry: pixi run ruff format scripts/
  language: system
  pass_filenames: false

fix: ignore pycache files
  .gitignore
  tests/__pycache__/__init__.cpython-314.pyc
  tests/__pycache__/test_common.cpython-314-pytest-7.4.4.pyc
  tests/__pycache__/test_package_papers.cpython-314-pytest-7.4.4.pyc
  tests/__pycache__/test_scripts_common.cpython-314-pytest-7.4.4.pyc
  tests/__pycache__/test_scripts_validation.cpython-314-pytest-7.4.4.pyc
  tests/__pycache__/test_validation.cpython-314-pytest-7.4.4.pyc
  tests/foundation/docs/__pycache__/__init__.cpython-314.pyc
  tests/foundation/docs/__pycache__/conftest.cpython-314-pytest-7.4.4.pyc
  tests/foundation/docs/__pycache__/test_advanced_docs.cpython-314-pytest-7.4.4.pyc
  tests/foundation/docs/__pycache__/test_core_docs.cpython-314-pytest-7.4.4.pyc
  tests/foundation/docs/__pycache__/test_dev_docs.cpython-314-pytest-7.4.4.pyc
  tests/foundation/docs/__pycache__/test_doc_completeness.cpython-314-pytest-7.4.4.pyc
  tests/foundation/docs/__pycache__/test_doc_structure.cpython-314-pytest-7.4.4.pyc
  tests/foundation/docs/__pycache__/test_getting_started.cpython-314-pytest-7.4.4.pyc
  tests/tooling/tools/__pycache__/__init__.cpython-314.pyc
  tests/tooling/tools/__pycache__/conftest.cpython-314-pytest-7.4.4.pyc
  tests/tooling/tools/__pycache__/test_category_organization.cpython-314-pytest-7.4.4.pyc
  tests/tooling/tools/__pycache__/test_directory_structure.cpython-314-pytest-7.4.4.pyc
  tests/tooling/tools/__pycache__/test_documentation.cpython-314-pytest-7.4.4.pyc
Due: none

fix: resolve remaining CI test failures (4 groups, 16+ fixes)
  shared/testing/models.mojo
  tests/configs/test_env_vars.mojo
  tests/configs/test_integration.mojo
  tests/shared/core/test_properties.mojo
  tests/shared/testing/test_tensor_factory.mojo
  tests/shared/testing/test_test_models.mojo
Due: mojo-format, check-list-constructor

feat(security): add safety hooks to prevent dangerous rm commands
  .claude/hooks/GITHUB_ISSUE_COMMENT.md
  .claude/hooks/IMPLEMENTATION.md
  .claude/hooks/README.md
  .claude/hooks/VERIFICATION.md
  .claude/hooks/demo-safety-hooks.sh
  .claude/hooks/pre-bash-exec.sh
  .claude/hooks/test-safety-hooks.sh
Due: none

fix(tests): correct Python __setitem__ syntax and markdown line length
  .claude/hooks/README.md
  tests/configs/test_env_vars.mojo
  tests/configs/test_integration.mojo
Due: mojo-format, check-list-constructor

fix(tests): use correct Mojo Python interop syntax for __setitem__
  tests/configs/test_env_vars.mojo
  tests/configs/test_integration.mojo
Due: mojo-format, check-list-constructor

fix(tests): remove obsolete test files
  tests/config/test_magic_toml.py
  tests/foundation/test_api_contracts.py
Due: check-shell-injection, validate-urls

refactor(core): deduplicate activation functions using dtype dispatch
  shared/core/__init__.mojo
  shared/core/activation.mojo
  shared/core/dtype_dispatch.mojo
Due: mojo-format, check-list-constructor

fix(core): resolve GELU type inference errors in float32 branch
  shared/core/dtype_dispatch.mojo
Due: mojo-format, check-list-constructor

fix(ci): resolve all remaining CI failures in PR #2550
  fix_all_docstrings.py
  fix_docstrings.py
  fix_remaining_docstrings.py
  shared/core/dtype_dispatch.mojo
  shared/utils/profiling.mojo
  tests/configs/test_env_vars.mojo
  tests/shared/utils/test_profiling.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, validate-urls

docs: add Claude 4 & Claude Code optimization guidance to CLAUDE.md
  CLAUDE.md
Due: none

style(configs): apply mojo format to test files
  tests/configs/test_env_vars.mojo
  tests/configs/test_integration.mojo
Due: mojo-format, check-list-constructor

fix(docs): resolve markdown linting errors in CLAUDE.md
  CLAUDE.md
Due: none

fix: resolve CI failures - Python environ and script linting
  scripts/validate_mojo_syntax_in_docs.py
  tests/configs/test_env_vars.mojo
  tests/configs/test_integration.mojo
Due: mojo-format, check-list-constructor, check-shell-injection, validate-urls, ruff-format-scripts

fix(tests): restore value= keyword in environ.__setitem__() calls
  tests/configs/test_env_vars.mojo
  tests/configs/test_integration.mojo
Due: mojo-format, check-list-constructor

docs: update documentation to remove deprecated Mojo syntax
  scripts/validate_mojo_syntax_in_docs.py
  shared/EXAMPLES.md
  shared/MIGRATION.md
  shared/data/README.md
  shared/training/README.md
  shared/utils/README.md
Due: check-shell-injection, validate-urls, ruff-format-scripts

docs(agents): update agent files for Claude 4 best practices
  .claude/agents/chief-architect.md
  .claude/agents/foundation-orchestrator.md
  .claude/agents/implementation-engineer.md
  .claude/agents/junior-implementation-engineer.md
  .claude/agents/test-engineer.md
  AGENT_CLAUDE4_UPDATE_SUMMARY.md
  docs/dev/agent-claude4-update-status.md
  scripts/update_agents_claude4.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix: remove invalid YAML frontmatter from code-review-orchestrator
  .claude/agents/code-review-orchestrator.md
Due: none

refactor: optimize Claude Code setup for token efficiency (-30k+ tokens)
  .claude/agents/algorithm-review-specialist.md
  .claude/agents/architecture-review-specialist.md
  .claude/agents/blog-writer-specialist.md
  .claude/agents/code-review-orchestrator.md
  .claude/agents/data-engineering-review-specialist.md
  .claude/agents/dependency-review-specialist.md
  .claude/agents/documentation-engineer.md
  .claude/agents/documentation-review-specialist.md
  .claude/agents/implementation-review-specialist.md
  .claude/agents/junior-documentation-engineer.md
  .claude/agents/junior-test-engineer.md
  .claude/agents/mojo-language-review-specialist.md
  .claude/agents/mojo-syntax-validator.md
  .claude/agents/numerical-stability-specialist.md
  .claude/agents/paper-review-specialist.md
  .claude/agents/performance-review-specialist.md
  .claude/agents/research-review-specialist.md
  .claude/agents/safety-review-specialist.md
  .claude/agents/security-review-specialist.md
  .claude/agents/senior-implementation-engineer.md
  .claude/agents/templates/review-specialist-template.md
  .claude/agents/test-engineer.md
  .claude/agents/test-review-specialist.md
  .claude/skills/ci-analyze-failure-logs/SKILL.md
  .claude/skills/doc-issue-readme/SKILL.md
  .claude/skills/gh-batch-merge-by-labels/SKILL.md
  .claude/skills/gh-check-ci-status/SKILL.md
  .claude/skills/gh-create-pr-linked/SKILL.md
  .claude/skills/gh-fix-pr-feedback/SKILL.md
  .claude/skills/gh-get-review-comments/SKILL.md
  .claude/skills/gh-implement-issue/SKILL.md
  .claude/skills/gh-post-issue-update/SKILL.md
  .claude/skills/gh-read-issue-context/SKILL.md
  .claude/skills/gh-reply-review-comment/SKILL.md
  .claude/skills/gh-review-pr/SKILL.md
  .claude/skills/review-pr-changes/SKILL.md
  .claude/skills/verify-pr-ready/SKILL.md
  CLAUDE.md
Due: none

fix(scripts): resolve ruff linting issues in validate_test_coverage.py
  scripts/validate_test_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix: resolve CI failures in Configs and Core Layers tests
  tests/configs/test_env_vars.mojo
  tests/configs/test_integration.mojo
  tests/shared/core/layers/test_batchnorm.mojo
  tests/shared/core/layers/test_conv2d.mojo
  tests/shared/core/layers/test_linear_struct.mojo
Due: mojo-format, check-list-constructor

style: apply mojo format to test_dropout.mojo
  tests/shared/core/layers/test_dropout.mojo
Due: mojo-format, check-list-constructor

fix(ci): add -Werror to pixi.toml build task
  pixi.toml
Due: none

fix(tests): relax dropout scale factor assertion for float precision
  tests/shared/core/layers/test_dropout.mojo
Due: mojo-format, check-list-constructor

fix(tests): replace deprecated tuple destructuring in conv2d, data generators, and rmsprop (13 occurrences)
  tests/shared/core/layers/DISABLED_test_conv2d.mojo
  tests/shared/test_data_generators.mojo
  tests/shared/training/test_rmsprop.mojo
Due: mojo-format, check-list-constructor

fix(tests): resolve CI test failures (Shared Infra, Configs)
  tests/shared/test_data_generators.mojo
  tests/shared/test_model_utils.mojo
  tests/shared/test_serialization.mojo
Due: mojo-format, check-list-constructor

style: apply mojo format to test_normalization.mojo
  tests/shared/core/test_normalization.mojo
Due: mojo-format, check-list-constructor

fix(tests): add __len__() to StubBatch for Sized trait conformance
  tests/shared/data/loaders/test_base_loader.mojo
Due: mojo-format, check-list-constructor

fix(tests): add Sized trait to StubBatch struct
  tests/shared/data/loaders/test_base_loader.mojo
Due: mojo-format, check-list-constructor

fix(tests): replace deprecated tuple destructuring with index access (45 occurrences)
  tests/shared/autograd/test_dropout_backward.mojo
  tests/shared/core/test_broadcasting.mojo
  tests/shared/core/test_dropout.mojo
  tests/shared/core/test_normalization.mojo
  tests/shared/test_serialization.mojo
Due: mojo-format, check-list-constructor

fix(tests): resolve deprecated syntax errors in PR 2555
  tests/shared/conftest.mojo
  tests/shared/core/layers/DISABLED_test_batchnorm.mojo
  tests/shared/data/loaders/test_base_loader.mojo
  tests/shared/fixtures/mock_data.mojo
  tests/shared/training/test_rmsprop.mojo
Due: mojo-format, check-list-constructor

fix(ci): only post test report to PR when tests are missing
  .github/workflows/comprehensive-tests.yml
  IMPLEMENTATION_SUMMARY.md
  scripts/README.md
  scripts/validate_test_coverage.py
Due: check-shell-injection, validate-urls, ruff-format-scripts

fix(tests): resolve BatchNorm test failures (syntax + numerical)
  shared/core/layers/batchnorm.mojo
Due: mojo-format, check-list-constructor

fix(examples): resolve deprecated Mojo syntax across all models
  examples/basic_usage.mojo
  examples/densenet121-cifar10/model.mojo
  examples/getting-started/first_model_model.mojo
  examples/googlenet-cifar10/model.mojo
  examples/mobilenetv1-cifar10/model.mojo
  examples/resnet18-cifar10/test_model.mojo
  examples/test_arithmetic.mojo
  examples/trait_based_layer.mojo
Due: mojo-format, check-list-constructor

Path conditions:
  mojo-format: any of: \.(mojo|üî•)$
  check-list-constructor: any of: \.(mojo|üî•)$
  check-shell-injection: any of: \.py$ and \.py$
  validate-urls: any of: \.py$ and \.py$
  ruff-format-scripts: any of: ^scripts/.*\.py$ and \.py$
