Repository mvillmow/ProjectOdyssey: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-list-constructor, check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

mojo-format:
  name: Mojo Format
  description: Format Mojo source files using mojo format (skips if mojo not available)
  entry: bash -c 'if command -v mojo &> /dev/null; then mojo format "$@"; else echo "‚ö†Ô∏è  Mojo not found, skipping format"; exit 0; fi' --
  language: system
  pass_filenames: true

check-list-constructor:
  name: Check for deprecated List[Type](args) syntax
  description: Prevent use of invalid List variadic constructor (use list literals instead)
  entry: List\[.*\]\([0-9]
  language: pygrep

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

validate-test-coverage:
  name: Validate Test Coverage
  description: Ensure all test_*.mojo files are covered by CI matrix
  entry: python3 scripts/validate_test_coverage.py
  language: system
  pass_filenames: false

fix(layers): convert relative imports to absolute imports for standalone compilation
  shared/core/layers/__init__.mojo
Due: mojo-format, check-list-constructor

fix(core): resolve import errors and add main function to normalization.mojo
  shared/core/normalization.mojo
Due: mojo-format, check-list-constructor

fix(benchmarks): replace deprecated time.now() with perf_counter_ns
  benchmarks/bench_simd.mojo
Due: mojo-format, check-list-constructor

fix(testing): convert relative imports to absolute and add main() for standalone compilation
  shared/testing/__init__.mojo
Due: mojo-format, check-list-constructor

fix(core): resolve import and compilation errors in shape.mojo
  shared/core/shape.mojo
Due: mojo-format, check-list-constructor

refactor(utils): remove custom random module, use Mojo stdlib instead
  shared/utils/__init__.mojo
  shared/utils/random.mojo
  tests/shared/utils/test_random.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(core): convert elementwise.mojo to use absolute imports and add main()
  shared/core/elementwise.mojo
Due: mojo-format, check-list-constructor

fix(build): exclude shared/ directory from mojo build
  justfile
Due: none

fix(googlenet-cifar10): fix compilation errors in train.mojo
  examples/googlenet-cifar10/train.mojo
Due: mojo-format, check-list-constructor

fix(utils): enable standalone compilation of training_args module
  shared/utils/training_args.mojo
Due: mojo-format, check-list-constructor

fix(core): convert relative imports to absolute imports and add main() for standalone compilation
  shared/core/__init__.mojo
Due: mojo-format, check-list-constructor

fix(core): replace relative imports with absolute imports in matrix.mojo
  shared/core/matrix.mojo
Due: mojo-format, check-list-constructor

fix(alexnet): fix compilation errors in train_new.mojo
  examples/alexnet-cifar10/train_new.mojo
Due: mojo-format, check-list-constructor

fix(core): change normalize_ops to use absolute imports
  shared/core/normalize_ops.mojo
Due: mojo-format, check-list-constructor

fix(shared): enable standalone compilation of __init__.mojo
  shared/__init__.mojo
Due: mojo-format, check-list-constructor

fix(core): resolve import errors and add main() for standalone compilation
  shared/core/dtype_cast.mojo
Due: mojo-format, check-list-constructor

fix(autograd): convert functional.mojo to standalone-buildable library
  shared/autograd/functional.mojo
Due: mojo-format, check-list-constructor

fix(autograd): enable standalone build validation for grad_utils
  shared/autograd/grad_utils.mojo
Due: mojo-format, check-list-constructor

fix(core): enable standalone compilation of activation_simd module
  shared/core/activation_simd.mojo
Due: mojo-format, check-list-constructor

Revert "fix(elementwise): replace comptime with var for Mojo v0.25.7 compatibility"
  shared/testing/gradient_checker.mojo
Due: mojo-format, check-list-constructor

feat(testing): implement gradient comparison in layer testers
  shared/testing/layer_testers.mojo
  tests/shared/testing/test_layer_testers_analytical.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

feat(core): replace DType dispatch if/elif chains with ordinal lookup table
  .github/workflows/comprehensive-tests.yml
  shared/core/arithmetic.mojo
  shared/core/dtype_dispatch.mojo
  shared/core/dtype_ordinal.mojo
  tests/shared/core/test_dtype_ordinal.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

test: add numerical stability tests for gradients
  .github/workflows/comprehensive-tests.yml
  tests/shared/core/test_gradient_validation.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

perf(core): add @always_inline to 22 high-priority functions (Phase 1)
  shared/core/activation_ops.mojo
  shared/core/elementwise.mojo
  shared/core/matrix.mojo
  shared/core/scalar_ops.mojo
Due: mojo-format, check-list-constructor

perf(core): add @always_inline to 10 medium-priority functions (Phase 2)
  shared/core/comparison.mojo
  shared/core/elementwise.mojo
  shared/core/matrix.mojo
Due: mojo-format, check-list-constructor

fix(conv2d): use dtype-generic accumulation to prevent float16 overflow
  shared/core/conv.mojo
  tests/models/test_lenet5_layers.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(conv2d): add dtype-generic backward pass to prevent float16 overflow
  shared/core/conv.mojo
Due: mojo-format, check-list-constructor

fix(testing): relax conv2d backward gradient check tolerance to 10%
  shared/testing/layer_testers.mojo
Due: mojo-format, check-list-constructor

fix(tests): remove deprecated input_value parameter from LeNet-5 tests
  tests/models/test_lenet5_layers.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

refactor(training): migrate AlexNet, MobileNetV1, GoogLeNet to TrainingLoop
  examples/alexnet-cifar10/train.mojo
  examples/googlenet-cifar10/train.mojo
  examples/mobilenetv1-cifar10/train.mojo
Due: mojo-format, check-list-constructor

feat(training): add comprehensive gradient clipping utilities
  shared/training/__init__.mojo
  shared/training/gradient_clipping.mojo
  tests/shared/training/test_gradient_clipping.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(tests): split LeNet-5 tests to workaround heap corruption bug (#2942)
  .gitignore
  tests/models/test_lenet5_activation_layers.mojo
  tests/models/test_lenet5_conv_layers.mojo
  tests/models/test_lenet5_fc_layers.mojo
  tests/models/test_lenet5_layers.mojo.DEPRECATED
  tests/models/test_lenet5_pooling_layers.mojo
  tests/models/test_lenet5_reshape_layers.mojo
Due: mojo-format, check-list-constructor, validate-test-coverage

fix(scripts): resolve deadlock and multiple bugs in implement_issues.py
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

Path conditions:
  mojo-format: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
  check-list-constructor: any of: ^(benchmarks|examples|papers|scripts|shared|tests)/.*\.(mojo|üî•)$
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  validate-test-coverage: any of: (test_.*\.mojo|comprehensive-tests\.yml)$
